---
permalink: subscribe/posts/atom.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/subscribe/styles/rss.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Robb Knight</title>
  <subtitle>Maker of web things, Lego builder, sometimes blogger, sporadic pizzaiolo, fortnightly podcaster. Cat dad and human dad.</subtitle>
  <link href="https://rknight.me/feed.xml" rel="self"/>
  <link href="https://rknight.me"/>
  <updated>{{ collections.postsForFeed | rssLastUpdatedDate }}</updated>
  <id>https://rknight.me/</id>
  <author>
    <name>Robb Knight</name>
  </author>
  {%- for post in collections.postsForFeed %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://rknight.me{{ post.url }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>https://rknight.me{{ post | getRssId }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | rssClubAlert(post.data.rssClub) }}</content>
    <summary>{{ post.data.excerpt | safe }}</summary>
  </entry>
  {%- endfor %}
</feed>
