---
permalink: subscribe/posts/feed.json
eleventyExcludeFromCollections: true
---

{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "Robb Knight • Posts • JSON Feed",
    "description": "Maker of web things, Lego builder, sometimes blogger, sporadic pizzaiolo, fortnightly podcaster. Cat dad and human dad.",
    "home_page_url": "https://rknight.me/",
    "feed_url": "https://rknight.me/subscribe/posts/feed.json",
    "items" : [
    {%- for post in collections.postsForFeed %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {
        "id" : "{{ post.data.permalink }}",
        "title": "{{ post.data.title }}",
        "url": "https://rknight.me{{ post.data.permalink | stripIndex }}",
        "content_html": {{ post.templateContent | rssClubAlert(post.data.rssClub) | dump | safe }},
        "date_published": "{{ post.data.date | dateForFeed }}"
    }{% if not loop.last %},{% else %}{%- endif -%}
    {%- endfor -%}
]}
