---
title: Design
layout: base
permalink: 'about/design/index.html'
templateEngineOverride: njk,html,md
eleventyNavigation:
  key: Design
  parent: About
---

### Logo

<div class="design--logo logo-light">
    <svg class="icon" style="width: 100px; height: 100px;">
        <use xlink:href="#rklogo"></use>
    </svg>
</div>

<div class="design--logo logo-dark">
    <svg class="icon" style="width: 100px; height: 100px;">
        <use xlink:href="#rklogo"></use>
    </svg>
</div>

<details class="details">
    <summary>ASCII</summary>
    <p>30 characters wide</p>
    <pre>..............................
..............................
...@@@@@@@@@@@@@@,..&@@@@@,...
...@@@@@@@@@@@@@...@@@@@@.....
.........@@@@@@...@@@@@@......
........@@@@@@...@@@@@@.......
......%@@@@@*..%@@@@@*........
........@@@@@@...@@@@@@.......
.........@@@@@@...@@@@@@......
...@@@@@..@@@@@@...@@@@@@.....
...@@@@@...#@@@@@/..#@@@@@/...
..............................</pre>

    <p>60 characters wide</p>

    <pre>............................................................
............................................................
......@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@......@@@@@@@@@@@@......
......@@@@@@@@@@@@@@@@@@@@@@@@@@@@,.....&@@@@@@@@@@@,.......
......@@@@@@@@@@@@@@@@@@@@@@@@@@@......@@@@@@@@@@@@.........
......@@@@@@@@@@@@@@@@@@@@@@@@@@......@@@@@@@@@@@@..........
...................@@@@@@@@@@@@......@@@@@@@@@@@@...........
.................#@@@@@@@@@@@,.....&@@@@@@@@@@@,............
................@@@@@@@@@@@@......@@@@@@@@@@@@..............
...............@@@@@@@@@@@@......@@@@@@@@@@@@...............
..............@@@@@@@@@@@@......@@@@@@@@@@@@................
............%@@@@@@@@@@@*.....%@@@@@@@@@@@*.................
..............@@@@@@@@@@@@......@@@@@@@@@@@@................
...............@@@@@@@@@@@@......@@@@@@@@@@@@...............
................@@@@@@@@@@@@......@@@@@@@@@@@@..............
.................#@@@@@@@@@@@/.....#@@@@@@@@@@@/............
...................@@@@@@@@@@@@......@@@@@@@@@@@@...........
......@@@@@@@@@.....@@@@@@@@@@@@......@@@@@@@@@@@@..........
......@@@@@@@@@......@@@@@@@@@@@@......@@@@@@@@@@@@.........
......@@@@@@@@@.......#@@@@@@@@@@@/.....#@@@@@@@@@@@/.......
......@@@@@@@@@.........@@@@@@@@@@@@......@@@@@@@@@@@@......
............................................................
............................................................</pre>
</details>

#### Files

<ul>
    <li><a target="_blank" rel="noopener" href="/assets/img/logo/logo.png">Logo</a></li>
    <li><a target="_blank" rel="noopener" href="/assets/img/logo/avatar-dark.png">Avatar Dark</a></li>
    <li><a target="_blank" rel="noopener" href="/assets/img/logo/avatar-light.png">Avatar Light</a></li>
    <li><a target="_blank" rel="noopener" href="/assets/img/logo/header-dark.png">Header Dark</a></li>
    <li><a target="_blank" rel="noopener" href="/assets/img/logo/header-light.png">Header Light</a></li>
</ul>

### Colors

<div class="design--colors">
    <div>--primary<br>#e33d94</div>
    <div>--secondary<br>#4ca2b7</div>
    <div>--tertiary<br>#fd9e2b</div>
    <div>--offwhite<br>#fff0d4</div>
    <div>--nearblack<br>#272523</div>
</div>

### Fonts

- [Cartridge (rough variant)](https://simplebits.shop/products/cartridge)
- [Atkinson Hyperlegible](https://brailleinstitute.org/freefont)
- [Source Code Pro](https://github.com/adobe-fonts/source-code-pro)