header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
    font-family: Bayshore;
    font-size: 6.5em;
    margin-bottom: 0;
    text-shadow: var(--body-text) 3px 3px 1px;
    letter-spacing: 3px;
    font-size: 5em;
}

.main-header a {
  text-decoration: none;
  color: var(--main-yellow);
}

@keyframes color-change {
  0% { color: #1abc9c }
  10% { color: #2ecc71 }
  20% { color: #3498db }
  30% { color: #9b59b6 }
  40% { color: #f1c40f }
  50% { color: #e67e22 }
  60% { color: #e74c3c }
  70% { color: #f39c12 }
  80% { color: #d35400 }
  90% { color: #ff00ff }
  100% { color: #c0392b }
}

.main-header a:hover {
  animation: color-change 3s infinite;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
    color: var(--main-yellow);
    filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.9));
}

.social-links a:hover {
  animation: color-change 3s infinite;
}

.social-links svg {
    width: 25px;
    height: 25px;
}

@media (max-width: 630px) {
  .main-header {
    font-size: 4em;
  }
}