---
layout: base
title: Changelog
permalink: 'log/index.html'
templateEngineOverride: njk,html,md
eleventyNavigation:
  key: Log
  parent: Home
---

## 2025-03-24
- New design based on TOC-style lists
- Added a /posse page

### 2025-02-03
- Retired /next page
- Removed Pixelfed code

### 2025-01-28
- Imported all photos from Instagram and Pixelfed, converted to notes
- Removed photos from home page (temp)

### 2025-01-24
- Removed changelog posts and RSS feed
- Added new changelog page
- New `/defaults` page, transient like `/now`
- `/uses` has a changelog

### 2024-06-17
- Added trophies to game collection

### 2024-05-31
- Added backdrop images to movie and TV OG images

### 2024-05-28
- Link to TMDB/Giantbomb on entry pages
- Show related posts on Almanac
- Found all tweets containing movies/TV shows and added those to Almanac
- Add old tweets as almanac logs

### 2024-05-26
- Almanac now has posters
- Added next and previous post links

### 2024-05-19
- Use ai.robots.txt/ai.robots.txt to block all known AI crawlers
- Switched to 11ty screenshot service for open graph images

### 2024-05-15
- Added Notes
- Added blogroll link rel

### 2024-02-26
- Added Pixelfed photos to home page

### 2024-02-09
- Added feeds for Almanac

### 2024-01-27
- Imported Almanac, highlight current page, 11ty navigation now working

### 2024-01-20
- Added [/about](/about) and [/about/colophon](/about/colophon)
- Updated rolls to have descriptions and included an OPML file for each

### 2024-01-18
- Added option to add a project to CLI

### 2024-01-16
- Changed link post format, updated cli

### 2024-01-13
- Added styling for `kbd` elements

### 2024-01-12
- Updated changelog page with new format
- Feeds for changelog

### 2024-01-11
- Migrated changelog to proper blog posts
- POSSE text added to links JSON feed

### 2024-01-09
- Added link blog with RSS/Atom/JSON feeds

### 2024-01-07
- Styled RSS/Atom feeds
- Added POSSE copies to posts

### 2024-01-03
- Imported old posts from Tumblr, Wordpress, AppAdvice, and iPhoneWorld.ca

### 2024-01-02
- Project blocks now show related blog posts
- Added RSS to go with Atom and JSON feed

### 2023-12-15
- Added blog stats page

### 2023-12-07
- Date now shows on blog post lists

### 2023-12-01
- Added hCard for site and posts
- Fixed Lego on mobile, thanks Charlie.

### 2023-11-30
- Added support for footnotes

### 2023-11-25
- Added Jason × Thanos mode

### 2023-11-24
- Popular pages now show on search, 404, and blog posts
- Blogroll and podroll

### 2023-11-21
- Added project changelog to [/log](/log)

### 2023-11-15
- New site design including [design page](/design)

### 2023-11-04
- Added photo of desk to [/uses](/uses) page
- Fixed duplicate webmentions on blog posts