{% set currentYear = postYear %}

<div class="almanac-grid">
  {%- for entry in pagination.items %}
    {% set postYear = entry.data.date.getFullYear() %}

    {% if postYear != currentYear %}
        <div class="almanac-empty-box">{{ postYear }}</div>
    {% endif %}

    {% if entry.data.mediaType === 'event' and entry.data.poster %}
      <hyper-card>
        <a href="{{ entry.data.permalink | stripIndex }}">
          <img class="almanac-poster" src="{{ entry.data.poster }}">
        </a>
      </hyper-card>
    {% elseif entry.data.mediaType === 'event' %}
      <hyper-card>
        <a href="{{ entry.data.permalink | stripIndex }}" class="almanac-empty-box gig">
          <img class="almanac-poster" src="/assets/img/almanac/ticket-bg.jpg">
          <div class="gig-info">{{ entry.data.title }} @ {{ entry.data.venue }}</div>
        </a>
      </hyper-card>
    {% elseif entry.data.mediaType === 'music' %}
      <hyper-card>
        <a href="{{ entry.data.permalink | stripIndex }}" class="almanac-empty-box music">
          {% if entry.data.poster %}
            <img class="almanac-poster" src="{{ entry.data.poster }}">
          {% endif %}
          <div class="music-info">{{ entry.data.title }}</div>
        </a>
      </hyper-card>
    {% else %}
      <hyper-card>
        <a href="{{ entry.data.permalink | stripIndex }}">
          <img class="almanac-poster" src="{{ { mediaType: entry.data.mediaType, tmdbid: entry.data.tmdbid, giantbombid: entry.data.giantbombid, customImage: entry.data.customImage, isbn13: entry.data.isbn13 } | getAlmanacImage }}">
        </a>
      </hyper-card>
    {% endif %}

    {% set currentYear = postYear %}
  {% endfor -%}
</div>

<div class="pagination box">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer {{ plural }}</a>{% else %}{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older {{ plural }}</a>{% else %}{% endif %}</div>
</div>
