
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />
		<meta name="Description" content="{{ title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="/assets/stylev2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/assets/highlight.css" type="text/css" media="screen" title="no title" charset="utf-8">
		{% if css %}
			<link rel="stylesheet" href="/assets/{{ css }}.css" type="text/css" media="screen" title="no title" charset="utf-8">
		{%  endif %}

        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/assets/icons/site.webmanifest">

		<script src="https://instantaneous-fountain.rknight.me/script.js" data-site="ISEJUYJY" defer></script>

		<meta property="og:title" content="{{ title }}" />
        <meta property="description" content="{% if excerpt %}{{ excerpt}}{% else %}Maker of web things, Lego builder, cat owner, sometimes blogger, fortnightly podcaster{% endif %}" />
		<meta property="og:description" content="{% if excerpt %}{{ excerpt}}{% else %}Maker of web things, Lego builder, cat owner, sometimes blogger, fortnightly podcaster{% endif %}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://rknight.me{{ page.url }}" />
        <meta property="og:image" content="https://rknight.me/assets/img/preview.png">

        <link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i|source-code-pro:400" rel="stylesheet" />
	</head>
	<body>

		<a style="display: none;" rel="me" href="https://social.lol/@robb">Mastodon</a>

		<header>
			<div class="main-header"><a href="/">Robb Knight</a></div>
		</header>

		<div class="nav">
			<ul class="nav__list">
				<li class="nav__list--item box"><a href="/blog/">Blog</a></li>

				<li class="nav__list--item box"><a href="https://toot.rknight.me">Microblog</a></li>

                <li class="nav__list--item box"><a href="/now">/now</a></li>

                <li class="nav__list--item box"><a href="/projects/">Projects</a></li>

                <li class="nav__list--item box"><a href="https://intersect.rknight.me">Wiki</a></li>
			</ul>
		</div>

		<div class="box">
			{% if hidetitle %}
			{% else %}
				<h2 class="heading-medium">{{ title }}</h2>
			{% endif %}
			{{ content | safe }}
		</div>

		<footer>
			<ul class="nav__list">
				<li class="nav__list--item box"><a href="/ref/">Referrals</a></li>

				<li class="nav__list--item box"><a href="/contact">Contact</a></li>

				<li class="nav__list--item box"><a href="/subscribe">Subscribe</a></li>

				<li class="nav__list--item box"><a href="/coffee/">Buy Me a Coffee</a></li>
			</ul>
            <div class="box copyright">
                &copy; 1988 - {% year %} Robb Knight
            </div>
		</footer>

	</body>
</html>
