
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />
		<meta name="Description" content="{{ title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="/assets/stylev2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/assets/highlight.css" type="text/css" media="screen" title="no title" charset="utf-8">
		{% if css %}
			<link rel="stylesheet" href="/assets/{{ css }}.css" type="text/css" media="screen" title="no title" charset="utf-8">
		{%  endif %}

		<script src="https://instantaneous-fountain.rknight.me/script.js" data-site="ISEJUYJY" defer></script>

		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{% if excerpt %}{{ excerpt}}{% else %}Robb Knight - {{ title }}{% endif %}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://rknight.me/" />

		<meta itemprop="name" content="{{ title }}">
		<meta itemprop="description" content="{% if excerpt %}{{ excerpt}}{% else %}Robb Knight - {{ title }}{% endif %}">

		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:title" content="{{ title }}"/>
		<meta name="twitter:description" content="{% if excerpt %}{{ excerpt}}{% else %}Robb Knight - {{ title }}{% endif %}"/>
	</head>
	<body>

		<a style="display: none;" rel="me" href="https://social.lol/@robb">Mastodon</a>

		<header>
			<div class="main-header"><a href="/">Robb Knight</a></div>
		</header>

		<div class="nav">
			<ul class="nav__list">
				<li class="nav__list--item box"><a href="/">About</a></li>

				<li class="nav__list--item box"><a href="/blog/">Blog</a></li>

				<li class="nav__list--item box"><a href="https://toot.rknight.me">Microblog</a></li>

				<li class="nav__list--item box"><a href="/projects/">Projects</a></li>
			</ul>
		</div>

		<div class="box">
			{% if hidetitle %}
			{% else %}
				<h2 class="heading-medium">{{ title }}</h2>
			{% endif %}
			{{ content | safe }}
		</div>

		<footer>
			<ul class="nav__list">
				<li class="nav__list--item box"><a href="/ref/">Referrals</a></li>

				<li class="nav__list--item box"><a href="/contact">Contact</a></li>

				<li class="nav__list--item box"><a href="/subscribe">Subscribe</a></li>

				<li class="nav__list--item box"><a href="/coffee/">Buy Me a Coffee</a></li>
			</ul>
		</footer>

	</body>
</html>
