
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />

		<title>{{ title }}</title>

		<link href="https://fonts.googleapis.com/css?family=BioRhyme&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

		<script type="text/javascript">
		  var _paq = window._paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="//stats.rknight.me/";
		    _paq.push(['setTrackerUrl', u+'matomo.php']);
		    _paq.push(['setSiteId', '1']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
	</head>
	<body>

		<header role="banner">
			<h1 class="heading-large">Robb Knight</h1>

			<div class="nav">
				<ul class="nav__list">
					<li class="nav__list--item"><a href="/">About</a></li>

					<li class="nav__list--item"><a href="/blog/">Writing</a></li>

					<li class="nav__list--item"><a href="/projects/">Projects</a></li>

					<li class="nav__list--item"><a href="https://twitter.com/rknightuk">Twitter</a></li>

					<li class="nav__list--item"><a href="http://ruminatepodcast.com">Podcast</a></li>
				</ul>
			</div>
		</header>

		{% if hidetitle %}
		{% else %}
			<h2 class="heading-medium">{{ title }}</h2>
		{% endif %}

		{{ content | safe }}

		<footer>
			<a href="/">Robb Knight</a> | <a href="/uses/">Uses</a> | <a href="/ref/">Referrals</a> | <a href="/contact">Contact</a> | <a href="/feed.xml">RSS</a>
		</footer>

	</body>
</html>
