<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/subscribe/styles.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Robb Knight • {{ name }} • Atom Feed</title>
  <subtitle>{{ site.config.description }}</subtitle>
  <link href="https://rknight.me/subscribe/{{ name | toLowerCase }}/atom.xml" rel="self" />
  <updated>{{ collections.postsForFeed | rssLastUpdatedDate }}</updated>
  <id>https://rknight.me/subscribe/{{ name | toLowerCase }}/atom.xml</id>
  <author>
    <name>Robb Knight</name>
    <uri>http://rknight.me</uri>
  </author>
  {%- for post in collections[collectionName] %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{% if externalLink %}{{ post.data.link }}{% else %}https://rknight.me{{ post.url }}{% endif %}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>https://rknight.me{{ post | getRssId }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | rssClubAlert(post.data.rssClub) }}</content>
    <summary>{% if post.data.excerpt %}{{ post.data.excerpt | safe }}{% elif externalLink %}{{ post.data.title }} by {{ people[post.data.author].name }}{% else %}{{ post.data.title }}{% endif %}</summary>
    <author>
      <name>Robb Knight</name>
    </author>
  </entry>
  {%- endfor %}
</feed>
