{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "Robb Knight • {{ name }} • JSON Feed",
    "user_comment": "This is a JSON feed. Subscribe by copying the URL from the address bar into your newsreader.",
    "description": "Maker of web things, Lego builder, sometimes blogger, sporadic pizzaiolo, fortnightly podcaster. Cat dad and human dad.",
    "home_page_url": "https://rknight.me/",
    "feed_url": "https://rknight.me/{{ permalink }}",
    "authors": [
        {
            "name": "Robb Knight",
            "url": "https://rknight.me/",
            "avatar": "https://rknight.me/assets/indieweb/avatar.jpg"
        }
    ],
    "items" : [
    {%- for post in collections[collectionName] %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {
        "id" : "{{ post.data.permalink }}",
        "title": "{{ post.data.title }}",
        "url": "https://rknight.me{{ post.data.permalink | stripIndex }}",
        {% if externalLink %}
        "external_url": "{{ post.data.link }}",
        "authors": [
            {
                "name": "{{ people[post.data.author].name }}",
                "url": "{{ people[post.data.author].web }}",
                "_knightlinks": {
                    "about": "https://rknight.me/links",
                    "author_mastodon": {% if people[post.data.author].mastodon %}"{{ people[post.data.author].mastodon }}"{% else %}null{% endif %}
                }
            }
        ],
        {% endif %}
        "content_html": {{ post.templateContent | rssClubAlert(post.data.rssClub) | dump | safe }},
        "date_published": "{{ post.data.date | dateForFeed }}"
    }{% if not loop.last %},{% else %}{%- endif -%}
    {%- endfor -%}
]}