<footer class="main">
    <div class="container container-sm">
        <p>
        {%- for page in site.footerpages %}
            <a href="{{ page.link }}">{{ page.label }}</a> {%- if not loop.last %}&nbsp;&middot;{%- endif -%}
        {% endfor %}
        </p>
    </div>
    <div class="container container-m footer-buttons">
        <div><a href="https://11ty.dev"><img width="88" height="31" src="/assets/img/buttons/built-with-eleventy.gif" alt="Made with Eleventy"></a></div>
        <div><a href="https://home.omg.lol/referred-by/robb"><img width="88" height="31" src="/assets/img/buttons/omglol.svg" alt="Member of omg.lol"></a></div>
        <div><a href="https://echofeed.app"><img width="88" height="31" src="/assets/img/buttons/echofeed.svg" alt="Powered by EchoFeed"></a></div>
        <div><a href="https://buymeacoffee.com/rknightuk"><img width="88" height="31" src="/assets/img/buttons/buymeacoffee.svg" alt="Buy me a coffee"></a></div>
        <div><a href="https://ko-fi.com/s/4662b19f61"><img width="88" height="31" src="/assets/img/buttons/human.svg" alt="Made by a human"></a></div>
        <div><a href="https://social.lol/@robb"><img width="88" height="31" src="/assets/img/buttons/mastodon.gif" alt="Follow me on Mastodon"></a></div>
        <div><a href="https://people.pledge.party"><img width="88" height="31" src="/assets/img/buttons/people_pledge.svg" alt="The people pledge"></a></div>
        <div><a href="/blog/tags/recipes"><img width="88" height="31" src="/assets/img/buttons/pizza.svg" alt="Pizza Powered"></a></div>
        <div><a href="https://en.wikipedia.org/wiki/This_machine_kills_fascists"><img width="88" height="31" src="/assets/img/buttons/fascists.gif" alt="This website kills fascists"></a></div>
        <div><a href="https://url.town/@robb"><img width="88" height="31" src="/assets/img/buttons/urltown2.png" alt="Curator on url.town"></a></div>
        <div><a href="https://tiltify.com/@marlies/domain-name-relief-2024"><img width="88" height="31" src="/assets/img/buttons/stjudedomain.png" alt="This domain name is helping kids fight cancer"></a></div>
        <div><img width="88" height="31" src="/assets/img/buttons/upallnight.gif" alt="Up all night"></div>
        <div><a href="https://matti.omg.lol"><img width="88" height="31" src="/assets/img/buttons/inbox-me-daddy.gif" alt="Inbox me, daddy"></a></div>
        <div><a href="https://32bit.cafe"><img width="88" height="31" src="/assets/img/buttons/32bitcafe.png" alt="32 Bit Cafe"></a></div>
        <div><a href="https://hillhouse.neocities.org/cliques/library/"><img width="88" height="31" src="/assets/img/buttons/little-pixel-library.png" alt="Little Pixel Library"></a></div>
        <div><img width="88" height="31" src="/assets/img/buttons/css.gif" alt="CSS"></div>
        <div><img width="88" height="31" src="/assets/img/buttons/php.gif" alt="PHP"></div>
        <div><img width="88" height="31" src="/assets/img/buttons/88x31.gif" alt="88x31"></div>
        <div><img width="88" height="31" src="/assets/img/buttons/valid-html5.gif" alt="Valid HTML"></div>
        <div><a href="/subscribe/posts/atom.xml"><img width="88" height="31" src="/assets/img/buttons/valid-atom.png" alt="Valid Atom"></a></div>
        <div><a href="/subscribe/posts/rss.xml"><img width="88" height="31" src="/assets/img/buttons/valid-rss.png" alt="Valid RSS"></a></div>
        <div><a href="/subscribe/posts/feed.json"><img width="88" height="31" src="/assets/img/buttons/valid-json.png" alt="Valid JSON"></a></div>
    </div>
    <div class="container container-sm" style="text-align: center;margin: 0 auto;display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <div style="display: flex;grid-gap: 10px;">
            <img width="88" height="31" src="/assets/img/buttons/robbknight.gif" alt="Robb Knight">
        </div>
        <div><p>© {% year %} Robb Knight</p></div>

        <div><p style="font-weight: normal; margin-top: 0;"><em>I have the honour to be, your obedient servant, r dot knight</em></p></div>
    </div>
</footer>