<header class="main">
    <div class="container container-m">
        <div class="main__title">
            <a href="/">
                <div class="logo">
                    <svg class="icon">
                        <use xlink:href="#rklogo"></use>
                    </svg>
                </div>
                <h1>Robb<span class="fullstop logo-dot">.</span> <span class="surname">Knight<span class="logo-dot">.</span></span></h1>
            </a>
        </div>
        <div class="main__links">
            <a href="https://social.lol/@robb" aria-label="Visit my Mastodon">
                <i class="fa-brands fa-mastodon ic-mastodon"></i>
                <span>Mastodon</span>
            </a>
            <a href="/subscribe" aria-label="Subscribe to the site">
                <i class="fa-solid fa-rss ic-rss"></i>
                <span>Subscribe</span>
            </a>
        </div>
    </div>
</header>