<header class="main">
    <div class="container">
        <div class="main__title">
            <a href="/">
                <div class="logo">
                    <svg class="icon">
                        <use xlink:href="#rklogo"></use>
                    </svg>
                </div>
                <h1>Robb<span class="fullstop logo-dot">.</span> <span class="surname">Knight<span class="logo-dot">.</span></span></h1>
            </a>
        </div>
        <div class="main__links">
            <a href="https://social.lol/@robb" aria-label="Visit my Mastodon">
                <svg class="icon mastodon-icon">
                    <use xlink:href="#mastodon"></use>
                </svg>
                <span>Mastodon</span>
            </a>
            <a href="/subscribe" aria-label="Subscribe to the site">
                <svg class="icon subscribe-icon">
                    <use xlink:href="#rss"></use>
                </svg>
                <span>Subscribe</span>
            </a>
            <a href="#" id="jason-thinks-thanos-was-right" aria-label="Level out the page headings">
                <svg class="icon scale">
                    <use xlink:href="#balance-scale"></use>
                </svg>
                <svg class="icon scale-left">
                    <use xlink:href="#balance-scale-left"></use>
                </svg>
            </a>
        </div>
    </div>
</header>