<div class="block-header first" style="background-color: #e33d94;">
    <h2>👋 Ahoy there, I'm Robb</h2>
</div>
<div class="block home">
    <div class="container container-sm" style="text-align: center">
        <p>I'm lead developer at <a href="http://radweb.co.uk">Radweb</a> working on <a href="http://inventorybase.com">InventoryBase</a>, a member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and a podcaster with <a href="https://ruminatepodcast.com">two</a> <a href="https://wegot.family">shows</a>. I also <a href="/projects">make a bunch of stuff</a>.</p>

        <p>You can find me on Mastodon as <a href="https://social.lol/@robb">robb@social.lol</a> or <a href="https://psnprofiles.com/rknightuk">PSN</a>, <a href="https://letterboxd.com/rknightuk/">Letterboxd</a>, and more things as <code>rknightuk</code>.</p>

        <div class="home-links">
            {% for link in site.links %}
                <div>
                    <a href="{{ link.link }}" target="_blank" rel="noopener" aria-label="Link to {{ link.icon }}">
                        <svg class="icon icon-{{ link.icon }}">
                            <use xlink:href="#{{ link.icon }}"></use>
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>

        <a href="/about">More about me</a>
    </div>
</div>

{# <div class="block-header" style="background-color: #d76150;">
    <h2>Latest from the 'don</h2>
</div>
<div class="block home">
    <div class="container container-sm">
        {%- for post in micro.posts.slice(0, 1) %}
            {% include 'micropost.njk' %}
        {% endfor %}
    </div>
</div> #}
    
<div class="block-header" style="background-color: #4db5ad;">
    <h2>Latest Blog Posts</h2>
</div>
    
<div class="block home">
    <div class="container container-sm">
        {%- for post in collections.firstPosts %}
            {% include 'post_list_item.njk' %}
        {% endfor %}
        <p><a href="/blog">View All Posts</a></p>
    </div>
</div>

<div class="block-header" style="background-color: #d76150;">
    <h2>Latest Links</h2>
</div>
<div class="block home">
    <div class="container container-sm">
        {%- for link in collections.links.slice(0, 3) %}
            {% include 'link_list_item.njk' %}
        {% endfor %}

        <p><a href="/links">View All Links</a></p>
    </div>
</div>

<div class="block-header" style="background-color: #efaa32;">
    <h2>Latest Podcasts</h2>
</div>

<div class="block home">
    <div class="container container-sm">

        <div class="blogroll blogroll--podcasts">
            {%- for pod in mypodcasts.latest %}
                <div class="blogroll--blog" style="background-image: url('{{ pod.show.art }}')">
                    <div class="blogroll--data">
                        <h3><a href="{{ pod.show.link }}">{{ pod.show.title }}</a></h3>
                        <p class="blog--subtitle"><em><a href="{{ pod.link }}">{{ pod.title | safe }}</a></em></p>
                        <p>{{ pod.desc }}</p>
                    </div>
                </div>
            {%- endfor -%}

            <p><a href="/podcasts">View All Episodes</a></p>
        </div>

    </div>
</div>

<div class="block-header" style="background-color: #44a25e;">
    <h2>Recent Projects</h2>
</div>

<div class="block home">
    <div class="container">        
        <div class="home-projects">
            {%- for project in site.projects.featured %}
            <div class="home-project" style="background-image: url('/assets/projects/{{ project.image }}');">
                <a href="{{ project.link }}">{{ project.title }}</a>
            </div>
            {% endfor%}
        </div>

        <p><a href="/projects">View All Projects</a></p>
    </div>
</div>