<div class="block-header first" style="background-color: #e33d94;">
    <h2>👋 Ahoy there, I'm Robb</h2>
</div>
<div class="rkblock home">
    <div class="container container-sm" style="text-align: center">
        <p>I'm a developer at my day job, a developer and podcaster at <a href="https://macstories.net/about">MacStories</a>, a member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and a podcaster with <a href="https://ruminatepodcast.com">two</a> <a href="https://wegot.family">shows</a>. I also <a href="/projects">make a bunch of stuff</a> including <a href="https://echofeed.app">EchoFeed</a>.</p>

        <p>You can find me on Mastodon as <a href="https://social.lol/@robb">robb@social.lol</a> or <a href="https://psnprofiles.com/rknightuk">PSN</a>, and more things as <code>rknightuk</code>.</p>

        <div class="home-links">
            {%- for link in site.links -%}
                <div>
                    <a href="{{ link.link }}" target="_blank" rel="noopener" aria-label="Link to {{ link.icon }}">
                        <svg class="icon icon-{{ link.icon }}">
                            <use xlink:href="#{{ link.icon }}"></use>
                        </svg>
                    </a>
                </div>
            {%- endfor -%}
        </div>

        <a href="/about">More about me</a>

        <hr>
    </div>
</div>


<style>
    .x-lat h1 {
        text-transform: uppercase;
        font-family: var(--cbr);
        color: var(--primary);
        font-size: 1em;
        display: flex;
        align-items: center;
    }

    .x-lat h1 svg {
        width: 1em;
        height: 1em;
        color: var(--offwhite);
        margin-right: 0.5em;
    }

    .x-lat li {
        font-family: var(--cr);
    }

    .x-lat span {
        font-family: var(--monospace);
        color: var(--offwhite-subtle);
    }
</style>
<div class="x-lat container container-sm">
    <h1><svg class="icon"><use xlink:href="#icon-blog"></use></svg> Latest Posts</h1>

    <ul>
    {%- for post in collections.firstPosts %}
        <li>
            <span>{{ post.data.date.toISOString() | isoDateOnly }}</span> <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <p><a href="/blog">View All Posts</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-links"></use></svg> Latest Links</h1>

    <ul>
    {%- for post in collections.links.slice(0, 3) %}
        <li>
            <span>{{ post.data.date.toISOString() | isoDateOnly }}</span> <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <p><a href="/links">View All Links</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-notes"></use></svg> Latest Note</h1>

    {%- for note in collections.notes.slice(0, 1) %}
        {{ note.content | safe }}
        <span style="font-size: 0.9em"><a href="{{ note.data.permalink | stripIndex }}">{{ note.data.date.toISOString() | isoDateOnly }}</a></span> 
    {% endfor %}

    <p><a href="/notes">View All Notes</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-almanac"></use></svg> Latest Almanac Entries</h1>

    <ul>
    {%- for post in collections.almanac.slice(0, 3) %}
        <li>
            <span>{{ post.data.date.toISOString() | isoDateOnly }}</span> <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <p><a href="/almanac">View All Almanac Entries</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-podcasts"></use></svg> Latest Podcast Episodes</h1>

    <ul>
    {%- for pod in mypodcasts.latest %}
        <li>
            <span>{{ pod.date }}</span>
            <a href="{{ pod.show.link }}">{{ pod.show.title }}: {{ pod.title | safe }}</a>
        </li>
    {%- endfor -%}
    </ul>

    <p><a href="/podcasts">View All Episodes</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-photos"></use></svg> Latest Photos</h1>

    <div class="photos_grid" style="margin-top: 25px;">
        {%- for photo in pixelfed %}
            <a href="{{ photo.url }}">
                <img src="{{ photo.image }}" alt="{{ photo.image_desc }}" />
            </a>
        {% endfor %}
    </div>

    <p><a href="https://pixelfed.social/rknightuk">View on Pixelfed</a></p>

    <h1><svg class="icon"><use xlink:href="#icon-projects"></use></svg> Recent Projects</h1>

    <div class="home-projects" style="margin-top: 25px;">
        {%- for project in site.projects.featured %}
        <div class="home-project" style="background-image: url('/assets/projects/{{ project.image }}');">
            <a href="{{ project.link }}">{{ project.title }}</a>
        </div>
        {% endfor%}
    </div>

    <p><a href="/projects">View All Projects</a></p>

</div>