<a style="display: none;" rel="me" href="https://social.lol/@robb">Mastodon</a>
<a style="display: none;" href="https://github.com/rknightuk" rel="me">github.com/rknightuk</a>
<a style="display: none;" href="https://proven.lol/aaecd5">proven.lol/aaecd5</a>

<span class="p-author h-card" style="display: none">
    <img class="u-photo" src="/assets/indieweb/avatar.jpg" alt="Robb Knight's avatar">
    <img class="u-logo" src="/assets/indieweb/logo.png" alt="Robb Knight's logo">
    <a class="p-name" href="https://rknight.me" rel="author">Robb Knight</a>
    <span class="p-note">{{ site.config.description }}</span>
    <a rel="me" class="u-url u-uid" href="https://rknight.me{{ page.url }}">Permalink</a>
</span>