<p class="post-title post-title--link"><a href="{{ link.data.link }}">{{ link.data.title }} &#x2192;</a></p>

{{ link.content | safe }}

<p class="post-date">&infin; <a href="{{ link.data.permalink | stripIndex }}">{{ link.data.date | postDate }}</a></p>