<nav class="main">
    <div class="container container-m">
        <a href="/blog" {% if ('/blog' in page.url) %}class="active"{% endif %}>Blog</a>
        <a href="/notes" {% if ('/notes' in page.url) %}class="active"{% endif %}>Notes</a>
        <a href="/links" {% if ('/links' in page.url) %}class="active"{% endif %}>Links</a>
        <a href="/projects" {% if ('/projects' in page.url) %}class="active"{% endif %}>Projects</a>
        <a href="/now" {% if ('/now' in page.url) and ('/blog/now' not in page.url) %}class="active"{% endif %}>/now</a>
        {# <a href="/uses" {% if ('/uses' in page.url) %}class="active"{% endif %}>/uses</a> #}
        <a href="/explore" {% if ('/explore' in page.url) %}class="active"{% endif %}>Explore</a>
    </div>
</nav>

<div class="container container-m" style="margin-top: 1em; text-align: center;">
    <aside class="alert">
        <p>✨ New stickers for 2026 are live in my <a href="/shop">brand new shop</a> now! ✨</p>
    </aside>
</div>

<style>
    .stjude {
        margin: 1em 0.3em 0 0.3em;
        text-align: center;
        background: #272523;
        min-height: 100px;
        border: 1px solid var(--offwhite);
        box-shadow: var(--double-shadow);
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .stjude .sj-container {
        text-align: left;
        margin: 5px 10px;
    }
</style>
{# <div class="container container-m">
    <div class="stjude">
        <p>Me and <a href="https://neatnik.net">Adam</a> are raising money for St Jude this September.<br>Donate to help beat childhood cancer and get some exclusive stickers as well!</p>

        <p><a href="https://stjude.omg.lol" target="_blank" rel="noopener">Donate Here!</a></p>
    </div>

<br>
    <script src="https://septembed.rknight.me/sj.js?u=https%3A%2F%2Ftiltify.com%2F%40rknightuk%2Fstjude2025"></script>
</div> #}