<nav class="main">
    <div class="container container-m">
        <a href="/blog" {% if ('/blog' in page.url) %}class="active"{% endif %}>Blog</a>
        <a href="/notes" {% if ('/notes' in page.url) %}class="active"{% endif %}>Notes</a>
        <a href="/links" {% if ('/links' in page.url) %}class="active"{% endif %}>Links</a>
        <a href="/projects" {% if ('/projects' in page.url) %}class="active"{% endif %}>Projects</a>
        <a href="/now" {% if ('/now' in page.url) and ('/blog/now' not in page.url) %}class="active"{% endif %}>/now</a>
        {# <a href="/uses" {% if ('/uses' in page.url) %}class="active"{% endif %}>/uses</a> #}
        <a href="/explore" {% if ('/explore' in page.url) %}class="active"{% endif %}>Explore</a>
    </div>
</nav>

{% set shopIsActive = false %}
{%- for item in shop %}
    {% if item.active %}
        {% set shopIsActive = true %}
    {% endif %}
{%- endfor -%}
{% if shopIsActive %}
<div class="container container-m" style="margin-top: 1em; text-align: center;">
    <aside class="alert">
        <p>✨ Stickers are live in <a href="/shop">the shop</a> now! ✨</p>

        <p>👕 I also have shirts <a href="/shop/cb">on Cotton Bureau</a> and <a href="https://knightshift.teemill.com/">Teemill</a> 👕</p>

        <p><small>(Depending on your country Teemill might be cheaper for shipping)</small></p>
    </aside>
</div>
{% endif %}