<nav class="main">
    <div class="container container-m">
        <a href="/blog" {% if ('/blog' in page.url) %}class="active"{% endif %}>Blog</a>
        <a href="/notes" {% if ('/notes' in page.url) %}class="active"{% endif %}>Notes</a>
        <a href="/links" {% if ('/links' in page.url) %}class="active"{% endif %}>Links</a>
        <a href="/projects" {% if ('/projects' in page.url) %}class="active"{% endif %}>Projects</a>
        <a href="/now" {% if ('/now' in page.url) and ('/blog/now' not in page.url) %}class="active"{% endif %}>/now</a>
        {# <a href="/uses" {% if ('/uses' in page.url) %}class="active"{% endif %}>/uses</a> #}
        <a href="/explore" {% if ('/explore' in page.url) %}class="active"{% endif %}>Explore</a>
    </div>
</nav>

<div class="container container-m" style="margin-top: 1em; text-align: center;">
    <a href="/shop" target="_blank" rel="noopener">
        <img src="/assets/img/shop-banner.png" style="width: 100%; max-width: 700px;" alt="A banner that says Stickers on it and shows some generic shapes that look like stickers.">
    </a>
</div>