<div>
    <h4>Popular Posts</h4>
    <ul>
        {%- for p in popular %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>

    <p><small>Analytics powered by <a href="https://usefathom.com/ref/IXCLSF">Fathom</a></small></p>
</div>