<p>
    <p class="post-title"><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></p>
    <em>{{ post.data.excerpt }}</em><br>
    <small>
        {{ post.data.date | postDateNoYear }}
    {% for tag in post.data.tags | sort %}
        <a href="/blog/tags/{{ tag | slug }}">#{{ tag }}</a>{% if loop.index < post.data.tags.length %}&nbsp;{% endif %}
    {% endfor %}
    </small>
</p>