---
layout: base
---

<a class="u-url" style="display:none" href="https://rknight.me{{ page.url | stripIndex }}"></a>
<a rel="author" style="display:none" class="p-author h-card" href="https://rknight.me">Robb Knight</a>
<img style="display:none" class="u-photo" src="/assets/indieweb/avatar.jpg" alt="Robb Knight's avatar">

<span class="post e-content" data-pagefind-body>
    <span style="display: none;" data-pagefind-filter="type">posts</span>
    <span style="display: none" data-pagefind-sort="date">{{ page.date.toISOString() | isoDateOnly }}</span>
    {%- set isOldPost -%}{{ page.date | isOldPost }}{%- endset -%}
    {% if isOldPost == "true" and '/blog' in page.url %}
        <aside class="alert">
            <div class="alert-icon">
                <svg class="icon alert-calendar">
                    <use xlink:href="#calendar"></use>
                </svg>
            </div>
            <p>This post is over {{ page.date | diffInYears }} years old and may contain outdated opinions or incorrect information. The takes are still hot as hell though ❤️‍🔥</p>
        </aside>
    {% endif %}
    {% if rssClub or repost or note %}
        {% include 'post_notes.njk' %}
    {% endif %}
    {% if link and 'boxd' not in link %}
        <aside class="alert">
            <div class="alert-icon">
                <svg class="icon"><use xlink:href="#link"></use></svg>
            </div>
            <a style="font-weight: bold;" href="{{ link }}">{{ title }} &#x2192;</a>
        </aside>
    {% endif %}

    {% set almanacImage %}{{ { type: type, tmdbid: tmdbid, giantbombid: giantbombid, customImage: customImage, isbn13: isbn13 } | getAlmanacImage }}{% endset %}

    {% if almanacImage %}
        <div class="almanac-poster-wrap">
            <hyper-card class="almanac-single-poster" style="--hypercard-scale: 1.03">
                <img class="u-photo" src="{{ almanacImage }}" alt="{{ title }}">
            </hyper-card>   
        </div>
    {% endif %}

	{{ content | safe }}

    {% include 'almanac_previous.njk' %}
</span>

<footer>
    {% if layout !== 'almanac' %}
        <div class="callout">
            <p>If you like this post or one of my projects you can <a href="/coffee">buy me a coffee</a> 💖</p>
        </div>
    {% endif %}

    <p class="footer-social"><a href="https://social.lol/@robb"><svg class="icon mastodon-icon">
        <use xlink:href="#mastodon"></use>
    </svg>Follow me on Mastodon</a> <a href="/subscribe"><svg class="icon subscribe-icon">
        <use xlink:href="#rss"></use>
    </svg>Subscribe with RSS</a></p>

    {% if nextPost.url %}
		<p class="ctr">
			<strong>Next</strong>:
			<a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
		</p>
	{% endif %}
	{% if prevPost.url %}
		<p class="ctr">
			<strong>Previously</strong>:
			<a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
		</p>
	{% endif %}
</footer>

{%- set webmentionUrl -%}{{ page.url | stripIndex }}{%- endset -%}
{% include 'webmentions.njk' %}

{%- set pageUrl -%}{{ page.url | stripIndex }}{%- endset -%}
{%- set popular = fathom | popularPosts(5, pageUrl) -%}
{% include 'popular_posts.njk' %}
