

<div class="entryitem">
    <div class="entryitem--data">
        <span>{% if post.data.featured %}⭐{% endif %} <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></span>
        <hr>
        <span class="entryitem--date">{{ post.data.date | postDateNoYear }}</span>
    </div>
    {% if post.data.excerpt %}
        <div class="entryitem--excerpt">
            <p><em>{{ post.data.excerpt }}</em></p>
        </div>
    {% endif %}
    
</div>