---
layout: base
---

<div class="post-date">{{ page.date | isoDateOnly }}</div>

<span class="post" data-pagefind-body>
	{{ content | safe }}
</span>

<footer>
    <p><a href="https://social.lol/@robb">Follow me on Mastodon</a> or <a href="/subscribe">Subscribe with RSS</a></p>
</footer>

{%- set webmentionUrl -%}{{ page.url | stripIndex }}{%- endset -%}
{% include 'webmentions.njk' %}
