<div class="card">
      <div class="card__image" style="background-image: url('{{ imagePrefix }}{{ project.image }}');">
        <div class="card__tags">
          {% if project.icon %}
            <div class="card__icon">
              <img src="{{ project.icon }}">
            </div>
          {% endif %}{% if project.tags %}{%- for tag in project.tags %}<div class="card__tag">{{ tag }}</div>{% endfor%}{% endif %}</div>
      </div>
      <div class="card__text">
          <span class="card__title"><a href="{{ project.link }}">{{ project.title }}</a></span>
          <span class="card__description">{{ project.desc | safe }}</span>
      </div>
      {% if collections.postsByProject[project.link] %}
      <div class="card__posts">
          <ul>{%- for post in collections.postsByProject[project.link] %}<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>{% endfor %}</ul>
      </div>
      {% endif %}
  </div>