{% set recipeData = recipe | recipeOutput %}

<style>
    .cl-ingredient,
    .cl-timer {
        font-weight: bold;
    }

    .p-quantity {
        font-family: var(--monospace);
    }

    .recipe .u-photo {
        margin-bottom: 20px;
    }
</style>

{% include 'recipe-core.njk' %}

<details>
    <summary><code>{{ recipeData.name }}.cook</code></summary>
    {% highlight "cooklang" %}
        {{ recipe | safe }}
    {% endhighlight %}
</details>

<script type="application/ld+json">
    {{ recipeData.json | dump | safe }}
</script>