<div class="syndication">

{% if discussion[webmentionUrl] or discuss %}
    {% if discussion[webmentionUrl] %}
        {%- set discussionData = discussion[webmentionUrl] | oValues -%}
        {%- for m in discussionData %}
            <div class="toot">
                <div class="toot__header">
                    <svg class="icon mastodon-icon"><use xlink:href="#mastodon"></use></svg> <a target="_blank" href="{{ m.url }}">{{ m.created_at | isoDateOnly }}</a>
                </div>
                <div class="toot__content">{{ m.content | safe }}</div>
                <div class="toot__data">
                    <div><a target="_blank" href="{{ m.url }}"><svg class="icon"><use xlink:href="#socialreply"></use></svg> {{ m.replies_count }}</a></div>
                    <div><a target="_blank" href="{{ m.url }}/reblogs"><svg class="icon"><use xlink:href="#socialboost"></use></svg> {{ m.reblogs_count }}</a></div>
                    <div><a target="_blank" href="{{ m.url }}/favourites"><svg class="icon"><use xlink:href="#sociallike"></use></svg> {{ m.favourites_count }}</a></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if discuss %}
        {%- for mention in discuss %}
            <div class="toot">
                <div class="toot__linkonly">
                    <svg class="icon"><use xlink:href="#external"></use></svg> <a href="{{ mention.link }}" target="_blank" rel="noopener">Discuss on {{ mention.type }}</a>&nbsp;{{ mention.date | isoDateOnly }}
                </div>
            </div>
        {% endfor%}
    {% endif %}
{% endif %}

</div>