---
permalink: /api/cms.json
---

{
    "tags": [
        {%- for tag in collections.everything | getAllTags | sort -%}
            "{{ tag }}"{% if not loop.last %},{% else %}{%- endif -%}
        {%- endfor -%}
    ],
    "projects": [
        {%- for project in site.projects.current -%}
        {
            "title": "{{ project.title }}",
            "link": "{{ project.link }}"
        }{% if not loop.last %},{% else %}{%- endif -%}
        {%- endfor -%}
    ]
}