---
permalink: /api/posts.json
eleventyExcludeFromCollections: true
---

{"posts" : [
    {%- for post in collections.postsForFeed %}
    {
        "title": "{{ post.data.title }}",
        "url": "https://rknight.me{{ post.data.permalink | stripIndex }}",
        "date": "{{ post.data.date.toISOString() | isoDateOnly }}"
    }{% if not loop.last %},{% else %}{%- endif -%}
    {%- endfor -%}
]}