---
permalink: ../nginx.conf
eleventyExcludeFromCollections: true
---
# Block AI bots
if ($http_user_agent ~* "({{ site.robots.nginx }})"){
    return 403;
}

# Allow .xml files to be served as XML in Safari
location ^.xml {
    add_header "Content-Type" "application/xml; charset=utf-8";
}

# Redirect old blog posts to /blog
rewrite ^/sitemap /explore permanent;
rewrite ^/feed.xml /subscribe/posts/atom.xml permanent;
rewrite ^/feed.json /subscribe/posts/feed.json permanent;
rewrite ^/24-hours-of-just-delete-me /blog/24-hours-of-just-delete-me permanent;
rewrite ^/70decibels-and-5by5 /blog/70decibels-and-5by5 permanent;
rewrite ^/a-threads-thread-blog-post /blog/a-threads-thread-blog-post permanent;
rewrite ^/add-full-screen-artwork-to-your-podcast /blog/add-full-screen-artwork-to-your-podcast permanent;
rewrite ^/add-to-musicthread-shortcut /blog/add-to-musicthread-shortcut permanent;
rewrite ^/adding-webmentions-to-your-site /blog/adding-webmentions-to-your-site permanent;
rewrite ^/additional-webmention-resources /blog/additional-webmention-resources permanent;
rewrite ^/advent-of-code-2023-day-eight /blog/advent-of-code-2023-day-eight permanent;
rewrite ^/advent-of-code-2023-day-five /blog/advent-of-code-2023-day-five permanent;
rewrite ^/advent-of-code-2023-day-four /blog/advent-of-code-2023-day-four permanent;
rewrite ^/advent-of-code-2023-day-nine /blog/advent-of-code-2023-day-nine permanent;
rewrite ^/advent-of-code-2023-day-one /blog/advent-of-code-2023-day-one permanent;
rewrite ^/advent-of-code-2023-day-seven /blog/advent-of-code-2023-day-seven permanent;
rewrite ^/advent-of-code-2023-day-six /blog/advent-of-code-2023-day-six permanent;
rewrite ^/advent-of-code-2023-day-three /blog/advent-of-code-2023-day-three permanent;
rewrite ^/advent-of-code-2023-day-two /blog/advent-of-code-2023-day-two permanent;
rewrite ^/amazon-echo-initial-thoughts /blog/amazon-echo-initial-thoughts permanent;
rewrite ^/app-defaults /blog/app-defaults permanent;
rewrite ^/apple-privacy-statement /blog/apple-privacy-statement permanent;
rewrite ^/asset-lifespan-spreadsheet /blog/asset-lifespan-spreadsheet permanent;
rewrite ^/automatically-rename-tv-shows-with-hazel-and-tvnamer /blog/automatically-rename-tv-shows-with-hazel-and-tvnamer permanent;
rewrite ^/automating-my-now-page /blog/automating-my-now-page permanent;
rewrite ^/biology-of-hey-bear-fruits /blog/biology-of-hey-bear-fruits permanent;
rewrite ^/bionic /blog/bionic permanent;
rewrite ^/block-chatgpt-with-robotstxt /blog/block-chatgpt-with-robotstxt permanent;
rewrite ^/blogs-and-wikis-and-links /blog/blogs-and-wikis-and-links permanent;
rewrite ^/brian-butterfield-diet-soundboard /blog/brian-butterfield-diet-soundboard permanent;
rewrite ^/building-a-pisight /blog/building-a-pisight permanent;
rewrite ^/building-an-activitypub-server /blog/building-an-activitypub-server permanent;
rewrite ^/bulding-podcast-site-eleventy /blog/bulding-podcast-site-eleventy permanent;
rewrite ^/bye-almanac-hello-lantern /blog/bye-almanac-hello-lantern permanent;
rewrite ^/calendar-events-alfred-workflow /blog/calendar-events-alfred-workflow permanent;
rewrite ^/changing-your-name-by-deed-poll /blog/changing-your-name-by-deed-poll permanent;
rewrite ^/chatcgt-and-mysql-database-schemas /blog/chatcgt-and-mysql-database-schemas permanent;
rewrite ^/compiling-css-with-eleventy /blog/compiling-css-with-eleventy permanent;
rewrite ^/convert-lxf-to-bricklink-xml /blog/convert-lxf-to-bricklink-xml permanent;
rewrite ^/convert-spotify-facebook-to-email-login /blog/convert-spotify-facebook-to-email-login permanent;
rewrite ^/create-a-blank-no-header-markdown-table /blog/create-a-blank-no-header-markdown-table permanent;
rewrite ^/crossover /blog/crossover permanent;
rewrite ^/custom-sidebar-icons-in-finder /blog/custom-sidebar-icons-in-finder permanent;
rewrite ^/delivery-companies-the-antithesis-of-convenience /blog/delivery-companies-the-antithesis-of-convenience permanent;
rewrite ^/diy-game-controller-rack /blog/diy-game-controller-rack permanent;
rewrite ^/doubleshift /blog/doubleshift permanent;
rewrite ^/echo-rss-to-microblog /blog/echo-rss-to-microblog permanent;
rewrite ^/eleventy-post-graph-plugin /blog/eleventy-post-graph-plugin permanent;
rewrite ^/fifa-street-ps2-game-faqs /blog/fifa-street-ps2-game-faqs permanent;
rewrite ^/fix-for-bluetooth-audio-cutting-out-on-the-mac /blog/fix-for-bluetooth-audio-cutting-out-on-the-mac permanent;
rewrite ^/fix-for-low-volume-exported-audio-in-garageband /blog/fix-for-low-volume-exported-audio-in-garageband permanent;
rewrite ^/fix-gmail-offline-os-x-yosemite-mail /blog/fix-gmail-offline-os-x-yosemite-mail permanent;
rewrite ^/follow-mastodon-user-on-micro.blog-shortcut /blog/follow-mastodon-user-on-micro.blog-shortcut permanent;
rewrite ^/food-graveyard /blog/food-graveyard permanent;
rewrite ^/game-controller-double-standards /blog/game-controller-double-standards permanent;
rewrite ^/get-custom-screensavers-on-the-kindle-4-mac-osx /blog/get-custom-screensavers-on-the-kindle-4-mac-osx permanent;
rewrite ^/get-mastodon-account-id-from-username /blog/get-mastodon-account-id-from-username permanent;
rewrite ^/get-safari-tabs-shortcut /blog/get-safari-tabs-shortcut permanent;
rewrite ^/getting-closer-to-the-perfect-tv /blog/getting-closer-to-the-perfect-tv permanent;
rewrite ^/google-reader-and-alternatives /blog/google-reader-and-alternatives permanent;
rewrite ^/hdr-hisense-tv-ps4 /blog/hdr-hisense-tv-ps4 permanent;
rewrite ^/hold-alt-when-resizing-to-center-windows-on-os-x /blog/hold-alt-when-resizing-to-center-windows-on-os-x permanent;
rewrite ^/homescreen-november-2017 /blog/homescreen-november-2017 permanent;
rewrite ^/homescreen-september-2015 /blog/homescreen-september-2015 permanent;
rewrite ^/how-not-to-copy-gif-to-clipboard-programatically /blog/how-not-to-copy-gif-to-clipboard-programatically permanent;
rewrite ^/how-pf-meet-helped-me-get-a-placement /blog/how-pf-meet-helped-me-get-a-placement permanent;
rewrite ^/how-to-install-ios8-without-a-developer-account /blog/how-to-install-ios8-without-a-developer-account permanent;
rewrite ^/i-am-a-tool /blog/i-am-a-tool permanent;
rewrite ^/im-done-with-closed-services /blog/im-done-with-closed-services permanent;
rewrite ^/im-not-building-a-podcast-host /blog/im-not-building-a-podcast-host permanent;
rewrite ^/importing-tweets-into-microblog /blog/importing-tweets-into-microblog permanent;
rewrite ^/instapaper-beta /blog/instapaper-beta permanent;
rewrite ^/its-better-in-the-app-and-other-lies /blog/its-better-in-the-app-and-other-lies permanent;
rewrite ^/jekyll-category-year-archive /blog/jekyll-category-year-archive permanent;
rewrite ^/just-2022-things /blog/just-2022-things permanent;
rewrite ^/just-2024-things /blog/just-2024-things permanent;
rewrite ^/just-delete-me /blog/just-delete-me permanent;
rewrite ^/just-delete-me-one-million-page-views /blog/just-delete-me-one-million-page-views permanent;
rewrite ^/just-delete-me-ten-years-later /blog/just-delete-me-ten-years-later permanent;
rewrite ^/lego-back-to-the-future-set-review /blog/lego-back-to-the-future-set-review permanent;
rewrite ^/letters /blog/letters permanent;
rewrite ^/link-dump /blog/link-dump permanent;
rewrite ^/lite-youtube-for-micro-blog /blog/lite-youtube-for-micro-blog permanent;
rewrite ^/manage-your-lego-collection-with-brickset /blog/manage-your-lego-collection-with-brickset permanent;
rewrite ^/meta-doesnt-need-activitypub-to-slurp-up-your-data /blog/meta-doesnt-need-activitypub-to-slurp-up-your-data permanent;
rewrite ^/monzo-pot-image-generator /blog/monzo-pot-image-generator permanent;
rewrite ^/monzo-pot-image-generator-version-2 /blog/monzo-pot-image-generator-version-2 permanent;
rewrite ^/music-replay-2022 /blog/music-replay-2022 permanent;
rewrite ^/my-favourite-albums-of-2022 /blog/my-favourite-albums-of-2022 permanent;
rewrite ^/navigate-project-folders-with-pick /blog/navigate-project-folders-with-pick permanent;
rewrite ^/new-york /blog/new-york permanent;
rewrite ^/no-more-ratings /blog/no-more-ratings permanent;
rewrite ^/note-on-migrating-wordpress-site-eleventy /blog/note-on-migrating-wordpress-site-eleventy permanent;
rewrite ^/notes-about-setting-up-retropie /blog/notes-about-setting-up-retropie permanent;
rewrite ^/office-setup /blog/office-setup permanent;
rewrite ^/one-year-of-pizza-making /blog/one-year-of-pizza-making permanent;
rewrite ^/oneplus-3-and-switching-to-android /blog/oneplus-3-and-switching-to-android permanent;
rewrite ^/parents-take-some-responsibility /blog/parents-take-some-responsibility permanent;
rewrite ^/please-expose-your-rss /blog/please-expose-your-rss permanent;
rewrite ^/pokedon-read-mastodon-on-a-pokedex /blog/pokedon-read-mastodon-on-a-pokedex permanent;
rewrite ^/popular-pages-with-eleventy-and-fathom-analytics /blog/popular-pages-with-eleventy-and-fathom-analytics permanent;
rewrite ^/pramis-challenge /blog/pramis-challenge permanent;
rewrite ^/pub-hack-1 /blog/pub-hack-1 permanent;
rewrite ^/puff-pastry-sausage-roll-recipe /blog/puff-pastry-sausage-roll-recipe permanent;
rewrite ^/relay-fm /blog/relay-fm permanent;
rewrite ^/reminders-alfred-workflow /blog/reminders-alfred-workflow permanent;
rewrite ^/remove-homestead-environment-variables /blog/remove-homestead-environment-variables permanent;
rewrite ^/replacing-apps-on-android /blog/replacing-apps-on-android permanent;
rewrite ^/ruminate-podcast /blog/ruminate-podcast permanent;
rewrite ^/save-bookmark-to-micro-blog-shortcut /blog/save-bookmark-to-micro-blog-shortcut permanent;
rewrite ^/saving-money-on-lego-in-the-uk /blog/saving-money-on-lego-in-the-uk permanent;
rewrite ^/simple-git-deploy /blog/simple-git-deploy permanent;
rewrite ^/smart-speed-broke-my-brain /blog/smart-speed-broke-my-brain permanent;
rewrite ^/so-many-default-apps /blog/so-many-default-apps permanent;
rewrite ^/st-jude-2023 /blog/st-jude-2023 permanent;
rewrite ^/st-jude-2023-final-numbers /blog/st-jude-2023-final-numbers permanent;
rewrite ^/stig-quote-generator /blog/stig-quote-generator permanent;
rewrite ^/subscriptions /blog/subscriptions permanent;
rewrite ^/the-best-apple-tv-apps /blog/the-best-apple-tv-apps permanent;
rewrite ^/the-best-tweets /blog/the-best-tweets permanent;
rewrite ^/the-difference-between-fact-and-trivia /blog/the-difference-between-fact-and-trivia permanent;
rewrite ^/the-knightpool /blog/the-knightpool permanent;
rewrite ^/the-state-of-passbook-in-the-uk /blog/the-state-of-passbook-in-the-uk permanent;
rewrite ^/third-party-apple-watch-bands /blog/third-party-apple-watch-bands permanent;
rewrite ^/thoughts-on-chromecast /blog/thoughts-on-chromecast permanent;
rewrite ^/thoughts-on-micro-blog /blog/thoughts-on-micro-blog permanent;
rewrite ^/thoughts-on-the-iphone-5s-and-5c /blog/thoughts-on-the-iphone-5s-and-5c permanent;
rewrite ^/three-years-of-hemispheric-views-feedback /blog/three-years-of-hemispheric-views-feedback permanent;
rewrite ^/tips-for-apple-tv-app-developers /blog/tips-for-apple-tv-app-developers permanent;
rewrite ^/twitter-backup-and-archiving-options /blog/twitter-backup-and-archiving-options permanent;
rewrite ^/two-social-networks-in-this-economy /blog/two-social-networks-in-this-economy permanent;
rewrite ^/ultraviolet /blog/ultraviolet permanent;
rewrite ^/using-pagefind-with-eleventy-for-search /blog/using-pagefind-with-eleventy-for-search permanent;
rewrite ^/using-svg-sprites /blog/using-svg-sprites permanent;
rewrite ^/using-the-johnny-decimal-system /blog/using-the-johnny-decimal-system permanent;
rewrite ^/web-scraping-with-node-and-cheerio /blog/web-scraping-with-node-and-cheerio permanent;
rewrite ^/what-to-do-when-your-itunes-account-gets-hacked /blog/what-to-do-when-your-itunes-account-gets-hacked permanent;
rewrite ^/year-of-renovation /blog/year-of-renovation permanent;