---
title: Books
subtitle: Everything I've read
permalink: 'almanac/books/index.html'
layout: base
customOgImage: true
type: book
almanacCollection: almanacBooks
eleventyNavigation:
  key: Books
  title: 📚 Books
  parent: Almanac
---

{% include 'almanac_list.njk' %}
