---
pagination:
  data: collections.almanacBooks
  size: 50
  alias: book
permalink: 'almanac/books/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
layout: base
wide: true
eleventyNavigation:
  key: Books
  title: 🍿 Books
  parent: Almanac
eleventyComputed:
    title: Books
    subtitle: Every book I've read
    plural: Books
---

{% include 'almanac_grid.njk' %}