---
title: Games
subtitle: Everything I've played
permalink: 'almanac/games/index.html'
layout: base
customOgImage: true
type: game
almanacCollection: almanacGames
eleventyNavigation:
  key: Games
  title: 🎮 Games
  parent: Almanac
---

{% include 'almanac_list.njk' %}