---
pagination:
  data: collections.almanacGames
  size: 50
  alias: game
permalink: 'almanac/games/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
layout: base
wide: true
eleventyNavigation:
  key: games
  title: 🎮 Games
  parent: Almanac
eleventyComputed:
    title: Games
    subtitle: Every game I've played
    plural: Games
---

{% include 'almanac_grid.njk' %}