---
title: Almanac
subtitle: "Everything I've watched, read, and played<br>[View as grid](/almanac)"
permalink: '/almanac/list/index.html'
layout: base
almanacCollection: almanac
eleventyNavigation:
  key: Almanac
  parent: Home
---

{% include 'almanac_list.njk' %}
