---
title: Movies
subtitle: Every movie I've watched
permalink: 'almanac/movies/index.html'
layout: base
customOgImage: true
type: movie
almanacCollection: almanacMovies
eleventyNavigation:
  key: Movies
  title: 🍿 Movies
  parent: Almanac
---

{% include 'almanac_list.njk' %}
