---
title: TV
subtitle: Every show I've watched
permalink: 'almanac/tv/index.html'
layout: base
customOgImage: true
type: tv
---

<div class="almanac-list">
    {%- for post in collections.almanacTV %}
        <p>{{ post.data.type | getTypeEmoji }} <span class="almanac-list--date">{{ post.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></p>
    {% endfor -%}
</div>