---
pagination:
  data: micro.posts
  size: 1
  alias: post
permalink: 'micro/{{ post.path }}'
layout: base
eleventyComputed:
  title: "{{ post.date | toDateTime }}"
---

<p><a href="/micro">All Micro Posts</a></p>

<span data-pagefind-body>
<span style="display: none;" data-pagefind-filter="type">microposts</span>
<span style="display: none" data-pagefind-sort="date">{{ post.date | isoDateOnly }}</span>
{% include 'micropost.njk' %}
</span>
