<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/subscribe/styles.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="https://rknight.me" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <docs>https://rknight.me/subscribe/{{ name | toLowerCase }}/rss.xml</docs>
    <title>Robb Knight • {{ name }} • RSS Feed</title>
    <link>https://rknight.me</link>
    <description>{{ site.config.description }}</description>
    <language>en-gb</language>
    {%- for post in collections[collectionName].slice(0, 50) -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{% if post.data.postType === 'link' %}{{ post.data.link }}{% else %}https://rknight.me{{ post.url }}{% endif %}</link>
        <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | renderContentForFeed(post) }}</description>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <dc:creator>Robb Knight</dc:creator>
        <guid>https://rknight.me{{ post | getRssId }}</guid>
      </item>
    {%- endfor -%}
  </channel>
</rss>
