body {
	margin: 0 auto;
	max-width: 1000px;
	padding: 10px;
	color: #c9cacc;
	background: #1d1f21;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #E87E04;
}

a:link, a:active, a:visited {
	text-decoration: underline;
	color: #c9cacc;
}

a:hover {
	color: #E87E04;
	text-decoration: none;
}