---
title: Blog
subtitle: "Subscribe to get new posts [via RSS](/subscribe)"
layout: base
permalink: 'blog/index.html'
eleventyNavigation:
  key: Blog
  parent: Home
---

<h3>Post Highlights</h3>

<ul>
{%- for post in collections.featuredPosts %}
    <li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

<h3>Featured Series</h3>

<ul>
  <li><a href="/blog/tags/thingsilike">#ThingsILike</a> - A series where I recommened various things I'm enjoying.</li>
  <li><a href="/blog/tags/homescreen">#Homescreen</a> - My homescreens over the years.</li>
  <li><a href="/blog/tags/eleventy">#Eleventy</a> - Posts about building this website, and others, with <a href="https://11ty.dev">Eleventy</a>.</li>
  <li><a href="/blog/tags/weblogpomo">#WeblogPoMo</a> - Weblog Posting Month started by Anne. <a href="https://weblog.anniegreens.lol/weblog-posting-month-2024">Read more about it here</a>.</li>
</ul>

<h3>All Posts</h3>

{% set datePrinted = false %}
{% set currentYear = 1000 %}

{%- for post in collections.posts %}
    {% set postYear = post.data.date.getFullYear() %}

    {% if postYear != currentYear %}
        <h4>{{ postYear }}</h4>
    {% endif %}

    {% include 'post_list_item.njk' %}

    {% set currentYear = postYear %}
{% endfor %}
