---
title: Post Tags
layout: base
permalink: 'blog/tags/index.html'
eleventyNavigation:
  key: Tags
  parent: Blog
  order: 2
eleventyComputed:
    subtitle: "{{ collections.posts.length }} posts • <a href='/blog'>All posts</a>"
---

<ul>
{% for tag in collections.posts | getAllTags | sort %}
    <li><a href="/blog/tags/{{ tag | slug }}">#{{ tag }}</a> ({{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %})</li>
{% endfor %}
</ul>