---
title: Quotes
permalink: intersect/quotes/index.html
eleventyNavigation:
  key: Quotes
  parent: Intersect
---

{% for q in collections.quotes %}
  {% if q.data.link %}
    <p><a href="{{ q.data.link }}" target="_blank">{{ q.data.title }}</a>:</p>
  {% else %}
    <p>{{ q.data.title }}:</p>
  {% endif %}

  {{ q.content | safe }}

  <p>{{ q.data.date.toISOString() | isoDateOnly }}</p>

  <hr>
{% endfor %}