.alert {
    position: relative;
    font-size: 0.8em;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid var(--primary);
    color: var(--offwhite);
}

.recipe .alert {
    font-size: 0.9em;
}

.alert h1 {
    font-family: var(--cart);
}

.alert p:first-child,
.alert p:last-child {
    margin: 0;
}

.alert p {
    margin: 5px 0;
}

.alert .alert-icon {
    position: absolute;
    top: -15px;
    left: 10px;
    background: var(--nearblack);
    padding: 5px;
}

.alert svg {
    width: 15px;
    height: 15px;
}

.alert .alert-calendar {
    color: var(--color-warning);
}

.alert .alert-repost {
    color: var(--primary);
}

.alert .alert-note {
    color: var(--primary);
}

.alert .alert-recipe {
    color: var(--primary);
}