.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    margin-top: 10px;
    max-width: 100%;
    position: relative;
    border: 1px solid var(--offwhite-subtle);
}

.card__image {
    height: 200px;
    background-size: cover;
    background-color: #e1e8ed;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 5px;
}

.card__icon {
    width: 28px;
    height: 28px;
}

.card__tags {
    width: 100%;
    display: flex;
    grid-gap: 3px;
}

.card__tag {
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: var(--monospace);
    font-size: 0.8em;
    padding: 3px 5px;
}

.card__text {
    border-top: 1px solid var(--offwhite-subtle-extra);
    padding: 5px 10px;
    font-size: 0.9em;
}

.card__posts {
    padding: 5px 10px;
    font-size: 0.8em;
}

.card__posts ul {
    margin-top: 0;
    margin-left: -20px;
}

.card__title {
    display: block;
    font-weight: bold;
}

.card__description {
    display: block;
    font-style: italic;
}

.card__link {
    display: block;
}

.cards.workflows .card__image {
    background-size: contain;
    background-origin: content-box;
}