.note {
    position: relative;
    border: 1px solid var(--code-black);
    color: var(--offwhite);
    padding-bottom: 2em;
    background-color: var(--bg-darker);
}

.note img {
    max-width: 400px;
}

.note__content {
    padding: 0 15px;
}

.note__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 15px;
    color: var(--offwhite-subtle-extra);
    font-size: 0.7em; 
}

.note__footer a {
    color: var(--offwhite-subtle);
    text-decoration: none;
}

.note__footer a:hover {
    color: var(--offwhite);
    text-decoration: underline;
}