.footnotes-list li p {
    font-size: 0.9em;
    margin: 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 20px;
    font-family: var(--cart);
    margin-top: 0;
}

@media (max-width: 500px) {
    .footer-social {
        flex-direction: column;
    }
}

.footer-social a {
    text-decoration: none;
    color: var(--offwhite);
    display: flex;
    align-items: center;
}

.footer-social a:hover {
    color: var(--primary);
}

.footer-social svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.bmac {
    text-align: center;
    font-style: italic;
    color: var(--offwhite-subtle);
}

.bmac svg {
    max-width: 300px;
}