<!-- 👋 hello! If you subscribe via RSS there might be some super secret posts just for you, don't tell anyone 🤫 -->
<link rel="alternate" type="application/atom+xml" title="Robb Knight Atom Feed" href="https://rknight.me/subscribe/posts/atom.xml">
<link rel="alternate" type="application/rss+xml" title="Robb Knight RSS Feed" href="https://rknight.me/subscribe/posts/rss.xml">
<link rel="alternate" type="application/json" title="Robb Knight JSON Feed" href="https://rknight.me/subscribe/posts/feed.json">

<link rel="blogroll" type="text/xml" href="/blog/roll/opml.xml" title="Robb Knight's blogroll">