---
title: Lego Collection
permalink: 'collections/lego/index.html'
layout: collections
eleventyNavigation:
  key: Lego Collection
  parent: Collections
eleventyComputed:
    subtitle: "{{ catalog.lego.count.sets }} sets with {{ catalog.lego.count.pieces }} pieces across {{ catalog.lego.count.themes }} themes"
---

<style>
    .collection-image-wrapper img {
        box-shadow: none;
    }
</style>

<details class="collection-grid-container">
    <summary>
        <span>
            <span class="summary-wrap">
                Loose Minifigures ({{ catalog.lego.minifigures.loose.length }})
            </span>
        </span>
    </summary>
    <div class="collection-grid">
        {%- for minifig in catalog.lego.minifigures.loose %}
            <div class="collection-item-wrapper">
                <div class="collection-image-wrapper">
                    <a target="_blank" rel="noopener" href="https://brickset.com/minifigs/{{ minifig.id }}">
                        <img src="/assets/catalog/lego/figs/{{ minifig.id }}.jpg">
                    </a>
                </div>
                <div class="collection-label">{{ minifig.name }} ({{ minifig.id }})</div>
            </div>
        {% endfor%}
    </div>
</details>

<details class="collection-grid-container">
    <summary>
        <span>
            <span class="summary-wrap">
                Minifigures from sets ({{ catalog.lego.minifigures.sets.length }})
            </span>
        </span>
    </summary>
    <div class="collection-grid">
        {%- for minifig in catalog.lego.minifigures.sets %}
            <div class="collection-item-wrapper">
                <div class="collection-image-wrapper">
                    <a target="_blank" rel="noopener" href="https://brickset.com/minifigs/{{ minifig.id }}">
                        <img src="/assets/catalog/lego/figs/{{ minifig.id }}.jpg">
                    </a>
                </div>
                <div class="collection-label">{{ minifig.name }} ({{ minifig.id }})</div>
            </div>
        {% endfor%}
    </div>
</details>

{%- for theme in catalog.lego.themes %}
    <details class="collection-grid-container">
        <summary>
            <span>
                <span class="summary-wrap">
                    {{ theme }} ({{ catalog.lego.sets[theme].length }})
                </span>
            </span>
        </summary>
        <div class="collection-grid">
            {%- for set in catalog.lego.sets[theme] %}
                <div class="collection-item-wrapper">
                    <div class="collection-image-wrapper">
                        <a target="_blank" rel="noopener" href="{{ set.url }}">
                            <img src="/assets/catalog/lego/sets/{{ set.imageId }}.jpg">
                        </a>
                    </div>
                    <div class="collection-label">{{ set.title }} ({{ set.id }})</div>
                </div>
            {% endfor%}
        </div>
    </details>
{% endfor%}
