---
pagination:
  data: collections.postsForOg
  size: 1
  alias: post
permalink: opengraph/{{ post.data.permalink }}
layout: opengraph
eleventyComputed:
  title: "{{ post | getTitleForOg }}"
  type: "{{ post.data.type }}"
  tmdbid: "{{ post.data.tmdbid }}"
  customBackdrop: "{{ post.data.customBackdrop }}"
  imageIndex: collections.almanacBackdrops
---