
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'head/meta.njk' %}

        {% include 'head/rss.njk' %}

        {% include 'head/icons.njk' %}

        <link rel="stylesheet" href="/assets/css/app.css" type="text/css" media="screen" title="no title">
        
        {% if site.production %}
            <script src="https://cdn.usefathom.com/script.js" data-site="ISEJUYJY" defer></script>
        {% endif %}

        <script type="module" src="/assets/js/hypercard.js"></script>
	</head>
	<body>

		{% include 'indieweb.njk' %}

        <header class="main">
            <div class="container">
                <div class="main__title">
                    <a href="/">
                        <div class="logo">
                            <svg class="icon">
                                <use xlink:href="#rklogo"></use>
                            </svg>
                        </div>
                        <h1>Robb<span class="fullstop logo-dot">.</span> <span class="surname">Knight<span class="logo-dot">.</span></span></h1>
                    </a>
                </div>
                <div class="main__links">
                    <a href="https://social.lol/@robb" aria-label="Visit my Mastodon">
                        <svg class="icon mastodon-icon">
                            <use xlink:href="#mastodon"></use>
                        </svg>
                        <span>Mastodon</span>
                    </a>
                    <a href="/subscribe" aria-label="Subscribe to the site">
                        <svg class="icon subscribe-icon">
                            <use xlink:href="#rss"></use>
                        </svg>
                        <span>Subscribe</span>
                    </a>
                    <a href="#" id="jason-thinks-thanos-was-right" aria-label="Level out the page headings">
                        <svg class="icon scale">
                            <use xlink:href="#balance-scale"></use>
                        </svg>
                        <svg class="icon scale-left">
                            <use xlink:href="#balance-scale-left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </header>

        <nav class="main">
            <div class="container">
                <a href="/about" {% if ('/about' in page.url) %}class="active"{% endif %}>About</a>
                <a href="/blog" {% if ('/blog' in page.url) %}class="active"{% endif %}>Blog</a>
                <a href="/links" {% if ('/links' in page.url) %}class="active"{% endif %}>Links</a>
                <a href="/notes" {% if ('/notes' in page.url) %}class="active"{% endif %}>Notes</a>
                <a href="/projects" {% if ('/projects' in page.url) %}class="active"{% endif %}>Projects</a>
                <a href="/now" {% if ('/now' in page.url) and ('/blog/now' not in page.url) %}class="active"{% endif %}>/now</a>
                <a href="/uses" {% if ('/uses' in page.url) %}class="active"{% endif %}>/uses</a>
                <a href="/explore" {% if ('/explore' in page.url) %}class="active"{% endif %}>Explore</a>
            </div>
        </nav>

        {% if homepage %}
        {% else %}
            <div class="rkblock block-main">
                <div class="container">
                    <h2 class="p-name">
                        {{ title }}
                    </h2>
                    {% if subtitle %}<span class="post-subtitle">{{ subtitle | mdToHtml | safe }}</span>{% endif %}
                    <nav class="header-nav">
                        {% if layout !== 'intersect' %}
                            {% if eleventyNavigation %}
                                {%- set navKey -%}{% if eleventyNavigation.parent === 'Home' %}{{ eleventyNavigation.key }}{% else %}{{ eleventyNavigation.parent }}{% endif %}{%- endset -%}
                            {% endif %}
                            {% if title === 'Almanac' %}
                                {%- set navKey -%}Almanac{%- endset -%}
                            {% endif %}
                            {% if navKey %}
                                {{ collections.all | eleventyNavigation(navKey) | eleventyNavigationToHtml | safe }}
                            {% endif %}
                        {% else %}
                            {% if title !== 'Intersect' %}
                                {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml | safe }}
                            {% endif %}
                        {% endif %}
                    </nav>
                </div>
            </div>
        {% endif %}

        {% if homepage %}
            {% include 'homepage_blocks.njk' %}
        {% endif %}

        <main>
            <div class="
                container
                {% if wide %}{% else %}container-sm{% endif %}
                h-entry
            ">
                {% if layout == 'post' or layout == 'link' or layout == 'almanac' %}
                    <div class="post-meta">
                        <div>
                            <svg class="icon">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            <time class="dt-published" datetime="{{ page.date.toISOString() }}">{{ page.date | postDate }}</time>
                            {% if venue %}&nbsp;@ {{ venue }}{% endif %}{% if cinema or type === "live" %}&nbsp;• 🎟️{% endif %}{% if platform %}&nbsp;• {{ platform }}{% endif %}{% if season %}&nbsp;• Season {{ season }}{% endif %}{% if year %}&nbsp;• ({{ year }}){% endif %}
                        </div>
                        {% if tmdbid %}
                            <div>
                                <a href="https://www.themoviedb.org/{{ type }}/{{ tmdbid }}" target="_blank">{{ title }} on TMDB</a>
                            </div>
                        {% endif %}
                        {% if giantbomburl %}
                            <div>
                                <a href="{{ giantbomburl }}" target="_blank">{{ title }} on GiantBomb</a>
                            </div>
                        {% endif %}
                        {% if isbn13 %}
                            <div>
                                <a href="https://openlibrary.org/isbn/{{ isbn13 }}" target="_blank">{{ title }} on OpenLibrary</a>
                            </div>
                        {% endif %}
                        {% if support %}
                            <div>
                                Support:&nbsp;{%- for s in support -%}{{ s }}{% if loop.index < support.length %}, {% endif %}{%- endfor -%}
                            </div>
                        {% endif %}
                        <div>
                            {%- for tag in tags | sort -%}
                                <a class="p-category" href="/blog/tags/{{ tag | slug }}">#{{ tag }}</a>{% if loop.index < tags.length %}&nbsp;&nbsp; {% endif %}
                            {%- endfor -%}
                        </div>
                    </div>
                {% endif %}

                {{ content | safe }}
            </div>
        </main>

        <div class="container container-sm">
            <hr>
        </div>

        <footer class="main">
            <div>
                <p class="footer-links">
                    {%- for p in site.footerpages -%}
                        {% if loop.index > 1 %}&bull;{% endif %} <a href="{{ p.link }}">{{ p.label }}</a>
                    {%- endfor -%}
                </p>
            </div>
            <div class="container container-sm footer-buttons">
                <div><a href="https://11ty.dev"><img width="88" height="31" src="/assets/img/buttons/made_with_11ty.gif" alt="Made with Eleventy"></a></div>
                <div><a href="https://home.omg.lol/referred-by/robb"><img width="88" height="31" src="/assets/img/buttons/omglol.svg" alt="Member of omg.lol"></a></div>
                <div><a href="https://echofeed.app"><img width="88" height="31" src="/assets/img/buttons/echofeed.svg" alt="Powered by EchoFeed"></a></div>
                <div><a href="https://buymeacoffee.com/rknightuk"><img width="88" height="31" src="/assets/img/buttons/buymeacoffee.svg" alt="Buy me a coffee"></a></div>
                <div><a href="https://ko-fi.com/s/4662b19f61"><img width="88" height="31" src="/assets/img/buttons/human.svg" alt="Made by a human"></a></div>
                <div><a href="https://social.lol/@robb"><img width="88" height="31" src="/assets/img/buttons/mastodon.gif" alt="Follow me on Mastodon"></a></div>
                <div><a href="https://people.pledge.party"><img width="88" height="31" src="/assets/img/buttons/people_pledge.svg" alt="The people pledge"></a></div>
                <div><a href="https://tiltify.com/@marlies/domain-name-relief-2024"><img width="88" height="31" src="/assets/img/buttons/stjudedomain.png" alt="This domain name is helping kids fight cancer"></a></div>
                <div><img width="88" height="31" src="/assets/img/buttons/valid-html5.gif" alt="Valid HTML"></div>
                <div><a href="/subscribe/posts/atom.xml"><img width="88" height="31" src="/assets/img/buttons/valid-atom.png" alt="Valid Atom"></a></div>
                <div><a href="/subscribe/posts/rss.xml"><img width="88" height="31" src="/assets/img/buttons/valid-rss.png" alt="Valid RSS"></a></div>
                <div><a href="/subscribe/posts/feed.json"><img width="88" height="31" src="/assets/img/buttons/valid-json.png" alt="Valid JSON"></a></div>
            </div>
            <div class="container container-sm" style="text-align: center;margin: 0 auto;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                <div style="display: flex;grid-gap: 10px;">
                    <img width="88" height="31" src="/assets/img/buttons/robbknight.gif" alt="Robb Knight">
                </div>
                <div><p>© {% year %} Robb Knight</p></div>

                <div><p style="font-weight: normal; margin-top: 0;"><em>I have the honour to be, your obedient servant, r dot knight</em></p></div>
            </div>
        </footer>

        {% include 'svgs.njk' %}

        <script>
            (function() {
                const jasonMode = document.getElementById('jason-thinks-thanos-was-right')
                
                if (window.localStorage)
                {
                    const jasonModeEnabled = localStorage.getItem('jasonModeEnabled') === 'true'
                    if (jasonModeEnabled)
                    {
                        jasonMode.classList.add('balanced')
                        Array.from(document.getElementsByClassName('callout')).forEach(e => e.classList.add('perfect-balanced-as-all-things-should-be'))
                        Array.from(document.getElementsByClassName('rkblock')).forEach(e => e.classList.add('perfect-balanced-as-all-things-should-be'))
                        Array.from(document.getElementsByClassName('block-header')).forEach(e => e.classList.add('perfect-balanced-as-all-things-should-be'))
                    }
                }
                jasonMode.addEventListener('click', (e) => {
                    e.preventDefault()
                    jasonMode.classList.toggle('balanced')
                    if (window.localStorage)
                    {
                        jasonMode.classList.contains('balanced') ? localStorage.setItem('jasonModeEnabled', true) : localStorage.setItem('jasonModeEnabled', false)
                    }
                    Array.from(document.getElementsByClassName('callout')).forEach(e => e.classList.toggle('perfect-balanced-as-all-things-should-be'))
                    Array.from(document.getElementsByClassName('rkblock')).forEach(e => e.classList.toggle('perfect-balanced-as-all-things-should-be'))
                    Array.from(document.getElementsByClassName('block-header')).forEach(e => e.classList.toggle('perfect-balanced-as-all-things-should-be'))
                })
            })()
        </script>

	</body>
</html>
