
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'head/meta.njk' %}

        {% include 'head/rss.njk' %}

        {% include 'head/icons.njk' %}

        <link rel="stylesheet" href="/assets/css/app.css?v=2" type="text/css" media="screen" title="no title">
        
        {% if site.production %}
            <script src="https://cdn.usefathom.com/script.js" data-site="ISEJUYJY" defer></script>

            <script src="https://neatstats.net/view.js"></script>
        {% endif %}

        <script type="module" src="/assets/js/hypercard.js"></script>
	</head>
	<body>

		{% include 'indieweb.njk' %}

        <div class="header-wrapper" style="border-bottom-color: var(--color-{{ page.url | catcolor }});">
            {% include 'header.njk' %}

            {% include 'nav.njk' %}
        </div>

        {% if homepage %}
            {% include 'homepage_blocks2.njk' %}
        {% else %}
            {% include 'page_header.njk' %}
        {% endif %}

        <main>
            <div class="
                container
                {% if wide %}container-m{% else %}container-sm{% endif %}
                h-entry
            ">
                {% if postType == 'post' or postType == 'link' or postType == 'note' or postType == 'almanac' %}
                    <div class="post-meta-v2">
                        Published on <time class="dt-published" datetime="{{ page.date.toISOString() }}">{{ page.date | postDate }}</time>{% if tags.length > 0 %}. Filed under&nbsp;
                        {%- for tag in tags | sort -%}
                            <a class="p-category" href="/blog/tags/{{ tag | slug }}">{{ tag }}</a>{% if loop.index < tags.length %}, {% endif %}
                        {%- endfor -%}
                        {% endif %}
                    </div>

                    {# {% if postType != 'post' and postType != 'link' and postType != 'note' %}
                        <div class="post-meta">
                            <div>
                                {% if venue %}&nbsp;@ {{ venue }}{% endif %}{% if cinema or mediaType === "event" %}&nbsp;• 🎟️{% endif %}{% if platform %}&nbsp;• {{ platform }}{% endif %}{% if season %}&nbsp;• Season {{ season }}{% endif %}{% if year %}&nbsp;• ({{ year }}){% endif %}
                            </div>
                            {% if tmdbid %}
                                <div>
                                    <a href="https://www.themoviedb.org/{{ mediaType }}/{{ tmdbid }}" target="_blank">{{ title }} on TMDB</a>
                                </div>
                            {% endif %}
                            {% if giantbomburl %}
                                <div>
                                    <a href="{{ giantbomburl }}" target="_blank">{{ title }} on GiantBomb</a>
                                </div>
                            {% endif %}
                            {% if isbn13 %}
                                <div>
                                    <a href="https://openlibrary.org/isbn/{{ isbn13 }}" target="_blank">{{ title }} on OpenLibrary</a>
                                </div>
                            {% endif %}
                            {% if support %}
                                <div>
                                    Support:&nbsp;{%- for s in support -%}{{ s }}{% if loop.index < support.length %}, {% endif %}{%- endfor -%}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %} #}
                {% endif %}

                {{ content | safe }}

                <hr>
            </div>
        </main>

        {% include 'footer.njk' %}

        {% include 'svgs.njk' %}
	</body>
</html>
