.almanac-list {
    font-size: .9em;
    line-height: 1;
}

.almanac-list--date {
    font-family: var(--monospace);
}

.almanac-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom:10px;
    margin-top: 10px;
}

.almanac-grid.almanac-grid-now {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 25px;
}

.now-grid {
    padding: 0 25px;
}

@media (max-width: 700px) {
    .almanac-grid,
    .almanac-grid.almanac-grid-now {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    .now-grid {
        padding: 0;
    }
}

.almanac-empty-box {
    display: flex;
    align-items: center;
    justify-content:center;
    font-family:var(--cbr);
    font-size:1.2em;
    background:var(--bg-darker)
}

.almanac-poster {
    width: 100%;
    height: 100%;
}

.almanac-single-poster {
    margin-top: 10px;
    display: inline-block;
    border: 3px solid var(--offwhite-subtle);
    max-width: 300px;
    margin-bottom: 10px;
}

.almanac-poster-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.related-entries {
    font-size: 0.8em;
}

.related-entry-current {
    font-weight: bold;
    text-decoration: none;
}