@font-face {
    font-family: 'Cartridge-BoldRough';
    src: url('/assets/Cartridge-BoldRough.woff2 ') format('woff2');
}

@font-face {
    font-family: 'Cartridge-Rough';
    src: url('/assets/Cartridge-Rough.woff2 ') format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-family: 'Atkinson Hyperlegible';
    font-size: 1.4em;
    background-color: var(--nearblack);
    color: var(--offwhite);
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

h1,
h2,
h3,
h4 {
    font-family: var(--cbr);
    color: var(--secondary);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.4em;
    color: var(--tertiary);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--offwhite);
}

hr {
    border: 1px solid var(--offwhite);
    width: 50%;
    margin: 20px auto;
}

code {
    white-space: break-spaces;
    background-color: #e8e8e8;
    margin: 0;
    color: var(--nearblack);
}

input,
textarea {
    border: 1px solid #4a4a4a;
}

input:focus,
textarea:focus {
    border: 1px solid #1d7484;
}

textarea {
    width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 15px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--secondary);
    border: none;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type="submit"]:focus:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:focus:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:focus:enabled,
input[type="button"]:hover:enabled {
    background-color: var(--primary);
    color: var(--offwhite);
    outline: 0;
}

.button:hover {
    background-color: var(--primary);
}

textarea,
select,
input {
    color: #4a4a4a;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--purewhite);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea:focus,
select:focus,
input:focus {
    border: none;
    outline: 0;
}

input[type="checkbox"]:focus {
    outline: none;
}

label,
legend,
fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

.details {
    margin: 10px 0;
}

.details:hover {
    cursor: pointer;
}

.details summary {
    font-family: var(--cbr);
    font-size: 1.4em;
    color: var(--tertiary);
    margin-bottom: 10px;
}

img,
video {
    max-width: 100%;
}