.box {
    background-color: white;
    border: 2px solid var(--body-text);
    box-shadow: 3px 3px var(--body-text);
    padding: 10px 15px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.box-spad {
    padding: 10px;
}