.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 10px;
}

.container-m {
    width: 100%;
    max-width: 1200px;
}

.container-sm {
    width: 100%;
    max-width: 800px;
}