.exp-block {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.exp-block-icon {
    margin-right: 1rem;
    color: var(--offwhite);
}

.exp-block a {
    font-family: var(--cbr);
    font-size: 1.5rem;
}

.exp-block-icon svg {
    width: 2rem;
    height: 2rem;
}

.exp-block h1 {
    margin: 0;
}

.exp-block p {
    margin: 0;
}

.exp-indent {
    margin-left: 2rem;
}