footer.main {
    font-family: var(--cbr);
    overflow: auto;
    text-align: center;
    padding: 0 10px;
    font-size: 0.8em;
}

.footer-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.footer-buttons div {
    display: flex;
    justify-content: center;
}