footer.main {
    font-family: var(--cbr);
    overflow: auto;
    text-align: center;
    padding: 30px 0;
    font-size: 0.8em;
}

footer.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer.main .container p {
    margin: 0;
}

@media (max-width: 500px) {
    footer.main .container {
        flex-direction: column;
        grid-gap: 10px;
    }
}

.coffee-button {
    border: none;
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 10px;
}