.home-links {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 800px)
{
    .home-links {
        grid-template-columns: repeat(4, 1fr);
    }
}

.home-links a {
    background-color: var(--purewhite);
    border: none;
    border-radius: 50px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.5s ease-in-out;
}

.home-links svg {
    width: 30px;
    height: 30px;
}

.home-links a:hover {
    box-shadow: rgba(245, 88, 65, 0.7) 3px 3px 0px, rgba(76, 162, 183, 0.7) -3px -3px 0px;
}

.home-links div {
    text-align: center;
    display: flex;
    justify-content: center;
}

.webrings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webring {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.webring--navicon {
    width: 30px;
    height: 30px;
}

.webring--randomicon {
    width: 50px;
    height: 50px;
}

.home-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media (max-width: 680px) {
    .home-projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

.home-project {
    height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-project a {
    border-top: 1px solid var(--purewhite);
    border-bottom: 1px solid var(--purewhite);
    padding: 10px 0;
    font-family: var(--cr);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.home-project a:hover {
    color: var(--purewhite);
    border-top: 1px solid var(--purewhite);
    border-bottom: 1px solid var(--purewhite);
}

.photos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.photos_grid img {
    border: 5px solid white;
}

.photos_grid img:hover {
    border-color: var(--primary);
}