.icon-lastfm {
    color: #D51007;
}

.icon-applemusic {
    color: #FA243C;
}

.icon-letterboxd {
    color: #00D735;
}

.icon-mastodon {
    color: var(--color-mastodon);
}

.icon-github {
    color: #1C2128;
}

.icon-rss {
    color: var(--color-rss);
}

.icon-buymeacoffee {
    color: #FFDD00;
}

.icon-prami {
    color: #E34198;
}