.photogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.photogrid .photogrid__photo:first-child {
    grid-column: span 3;
    margin: 0 auto;
    max-width: 100%;
}

.photogrid .photogrid__photo:not(:first-child) img {
    aspect-ratio: 1;
    object-fit: cover;
}