nav.main {
    height: auto;
    padding: 5px 0;
    overflow: auto;
}

nav.main .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 7px;
    margin-bottom: 5px;
}

@media (max-width: 550px) {
    nav.main .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


.nav-link, 
nav.main a {
    text-decoration: none;
    background-color: var(--offwhite);
    color: var(--nav-text);
    text-transform: lowercase;
    font-size: .9em;
    font-family: var(--cart);
    text-align: center;
    border-bottom: none;
    border-radius: 5px;
    padding: 2px 0;
    text-decoration: none;
    box-shadow: var(--double-shadow);
    transition: box-shadow .5s ease-in-out;
}

.nav-link:hover, nav.main a:hover {
    box-shadow: none;
}

nav.main a.active {
    padding-left: 5px;
}
nav.main a.active:after {
    content: '.';
    color: var(--primary);
}

.mainv2 {
    
}

.mainv2 .container {
    display: flex;
}

.nav-link, 
nav.mainv2 a {
    text-transform: lowercase;
    font-size: 0.9em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--monospace);
}
nav.mainv2 a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

nav.mainv2 a.active {
    text-decoration: underline;
    text-underline-offset: 3px;
}