nav.main {
    background-color: var(--nearblack);
    height: auto;
    padding: 5px 0;
    overflow: auto;
}

nav.main .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    margin-bottom: 5px;
}

nav.main a:hover {
    background-color: var(--primary);
    color: var(--offwhite);
}


nav.main a {
    background-color: var(--secondary);
    border-bottom: none;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--offwhite);
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 0.8em;
    font-family: var(--cbr);
    text-align: center;
}

@media (max-width: 550px) {
    nav.main .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 260px) {
    nav.main .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
