.post img {
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.post-list {
  list-style-type: none;
  margin-left: -30px;
}

.list-post-date, .post-date {
  color: var(--subtle-color);
  margin-bottom: 10px;
  font-family: 'Source Code Pro', monospace;
}

.post-date {
    font-size: 0.8em;
}

.post-excerpt {
  font-size: 0.9em;
  font-style: italic;
}

.pagination {
    display: flex;
    justify-content: space-between;
}