.post-author {
    color: var(--offwhite-subtle);
    margin: 0;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.post-author svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post-author a {
    height: 20px;
}

.post-title {
    font-weight: bold;
    margin-bottom: 0;
    font-family: var(--cbr);
    font-size: 1.1em;
}

.post-title--link {
    margin-top: 0;
}

.post-excerpt {
    font-size: 0.9em;
    color: var(--offwhite-subtle);
}

.post-meta {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    flex-direction: column;
}

.post-meta div {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-family: var(--cr);
}

.post-meta div svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post-date {
    margin-top: 0;
    font-size: 0.8em;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footnotes-list li p {
    font-size: 0.9em;
    margin: 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 20px;
    font-family: var(--cr);
}

@media (max-width: 500px) {
    .footer-social {
        flex-direction: column;
    }
}

.footer-social a {
    text-decoration: none;
    color: var(--offwhite);
    display: flex;
    align-items: center;
}

.footer-social a:hover {
    color: var(--primary);
}

.footer-social svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}