.webmentions {
    font-size: 0.8em;
}

.webmentions h4 {
    margin: 10px 0;
}

.webmentions--likeboost {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.webmentions--likeboost a {
    margin-left: -10px;
    border: none;
}

.webmentions--likeboost img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--purewhite);
    transition: 0.2s linear;
    background: var(--purewhite);
}

.webmentions--likeboost img:hover,
.webmentions--comment--header img:hover {
    border: 3px solid var(--primary);
}

.webmentions--comment {
    display: flex;
    flex-direction: column;
}

.webmentions--comment--header {
    display: flex;
    justify-content: space-between;
}

.webmentions--comment--header img {
    border: 3px solid var(--purewhite);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 0.2s linear;
}

.webmentions--comment--header--name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.webmentions--comment--header--name img {
    margin-right: 10px;
}

.webmentions--comment--header--name a {
    border: none;
}

.webmentions--comment--content {
    margin-bottom: 10px;
}

.webmentions--comment--header--time {
}