@import "_reset.css"; /* https: //andy-bell.co.uk/a-modern-css-reset/ */
@import "_variables.css";
@import "_base.css";
@import "_container.css";
@import "_header.css";
@import "_nav.css";
@import "_pageblock.css";
@import "_icons.css";
@import "_main.css";
@import "_box.css";
@import "_footer.css";

/* pages */
@import "_home.css";
@import "_post.css";
@import "_webmentions.css";
@import "_cards.css";
@import "_micropost.css";
@import "_liteyt.css";
@import "_design.css";
@import "_blogrollcard.css";

.scale-left {
    display: none;
}

.scale {
    display: inline-block;
}

.balanced .scale-left {
    display: inline-block;
}

.balanced .scale {
    display: none;
}

.perfect-balanced-as-all-things-should-be {
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */
        100% 100%, /* right bottom */
        0 100% /* left bottom */
    );
}

#scales-button {
    color: var(--primary);
}