---
permalink: podtest.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <generator>Eleventy</generator>
    <title>Podcast Artwork Test</title>
    <description>Podcast Artwork Test</description>
    <copyright>Robb Knight</copyright>
    <language>en</language>
    <pubDate>Sun, 17 Sep 2023 09:25:09 +0000</pubDate>
    <lastBuildDate>Sun, 17 Sep 2023 09:25:09 +0000</lastBuildDate>
    <image>
        <link>https://rknight.me</link>
        <title>We Got Family</title>
        <url>https://wegotfamily.s3-us-west-2.amazonaws.com/cover-large.png</url>
    </image>
    <link>https://rknight.me</link>
    <itunes:type>episodic</itunes:type>
    <itunes:summary>Podcast Artwork Test</itunes:summary>
    <itunes:author>Robb Knight</itunes:author>
    <itunes:explicit>no</itunes:explicit>
    <itunes:image href="https://wegotfamily.s3-us-west-2.amazonaws.com/cover-large.png"/>
    <itunes:new-feed-url>https://robb.paste.lol/pod.xml/raw</itunes:new-feed-url>
    <itunes:keywords>tech, culture, games</itunes:keywords>
    <itunes:owner>
        <itunes:name>Robb Knight</itunes:name>
        <itunes:email>desk@rknight.me</itunes:email>
    </itunes:owner>
    <itunes:category text="TV &amp; Film"></itunes:category>
    <item>
        <guid isPermaLink="false">d54c0754-f0dc-423d-8fe9-289b467e2X52</guid>
        <title>HAS CUSTOM ARTWORK, SHOULD SHOW MY LOGO</title>
        <description><![CDATA[ <p>with custom artwork</p> ]]></description>
        <pubDate>Sun, 17 Sep 2023 09:25:09 +0000</pubDate>
        <author>Robb Knight</author>
        <link>https://wegot.family/5/</link>
        <content:encoded><![CDATA[ <p>with custom artwork</p> ]]></content:encoded>
        <enclosure length="11407293" type="audio/mpeg" url="https:///cdn.rknight.me/podcasts/wegotfamily/05.mp3"/>
        <itunes:title>THIS ONE HAS CUSTOM ARTWORK, SHOULD SHOW MY LOGO</itunes:title>
        <itunes:author>Robb Knight</itunes:author>
        <itunes:duration>00:23:00</itunes:duration>
        <itunes:summary>Has custom artwork</itunes:summary>
        <itunes:subtitle>Has custom artwork</itunes:subtitle>
        <itunes:explicit>no</itunes:explicit>
        <itunes:episodeType>full</itunes:episodeType>
        <itunes:image href="https://rknight.me/assets/img/logo/avatar-dark.png"/>
    </item>
    <item>
        <guid isPermaLink="false">e9b6ea69-77df-4d63-9084-0Xd62ea491cf</guid>
        <title>NO CUSTOM ARTWORK, SHOULD SHOW WE GOT FAMILY</title>
        <description><![CDATA[ <p>No custom artwork</p> ]]></description>
        <pubDate>Sun, 02 Jul 2023 09:22:06 +0000</pubDate>
        <author>Robb Knight</author>
        <link>https://wegot.family/0/</link>
        <content:encoded><![CDATA[ <p>No custom artwork</p> ]]></content:encoded>
        <enclosure length="3763428" type="audio/mpeg" url="https:///cdn.rknight.me/podcasts/wegotfamily/00.mp3"/>
        <itunes:title>00 - Pilot</itunes:title>
        <itunes:author>Robb Knight</itunes:author>
        <itunes:duration>00:07:04</itunes:duration>
        <itunes:summary>No Custom Artwork</itunes:summary>
        <itunes:subtitle>No Custom Artwork</itunes:subtitle>
        <itunes:explicit>no</itunes:explicit>
        <itunes:episodeType>full</itunes:episodeType>
    </item>
  </channel>
</rss>
