---
permalink: posts.json
eleventyExcludeFromCollections: true
---

{"posts" : [
    {%- for post in collections.posts %}
    {
        "title": "{{ post.data.title }}",
        "url": "https://rknight.me{{ post.data.permalink | stripIndex }}",
        "date": "{{ post.data.date | isoDateOnly }}"
    }{% if not loop.last %},{% else %}{%- endif -%}
    {%- endfor -%}
]}