---
title: Shop
subtitle: Money can be exchanged for goods and services.
layout: base
permalink: 'shop/index.html'
eleventyNavigation:
  key: Shop
  parent: Home
---

The sticker shop has moved to <a href="https://knightshift.bigcartel.com">Big Cartel</a> for now.