---
layout: base
title: App.net Archive
permalink: 'micro/adn/index.html'
---

<p>My App.net archive. RIP.</p>

{%- for post in adn.reverse() %}
    {% if not post.text.startsWith('@') and not post.text.startsWith('>') %}
    <p>{{ post.created_at }} {{ post.text }}</p>
    {% endif %}
{% endfor %}
