---
title: Blog Archive
subtitle: "Subscribe to get new posts [via RSS](/subscribe)"
layout: base
permalink: 'blog/index.html'
---

{% set datePrinted = false %}
{% set currentYear = 1000 %}
{% set started = false %}

{%- for post in collections.posts %}
    {% set postYear = post.data.date.getFullYear() %}

    {% if postYear != currentYear %}
        {% if started %}
            </ul>
        {% endif %}
        <h3>{{ postYear }}</h3>
        <ul>
        {% set started = true %}
    {% endif %}

    <li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>

    {% set currentYear = postYear %}
{% endfor %}
