---
title: Statistics
subtitle: "Generated with a modified version of <a href='https://github.com/johnwargo/eleventy-plugin-post-stats'>eleventy-plugin-post-stats</a>"
permalink: /blog/stats/index.html
layout: base
templateEngineOverride: njk,html
---

<style>
    .post-stats strong {
        color: var(--primary);
    }

    .graph {
        margin: 20px 0;
    }

    .graph__wrapper {
        position: relative;
        height: 30px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .graph__progress {
        background: var(--secondary);
        height: 100%;
        margin-left: 10px;
    }
    
    .graph__year {
        font-family: var(--monospace);
    }

    .graph__data {
        margin-left: 10px;
    }

    .map {
        font-size: 0.8em;
    }

    .map__year {
        text-align: center;
        font-weight: bold;
    }

    .map__months {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 410px) {
        .map__months {
            display: none;
        }
    }

    .map__squares {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
        margin-bottom: 10px;
        grid-gap: 2px;
    }

    .map__box {
        aspect-ratio: 1 / 1;
        background: var(--bg-darker);
    }

    .hasPost {
        background: var(--primary-subtle);
    }
</style>

<span class="post-stats">
<p>My first post was published on <strong>{{ collections.postStats.firstPostDate | postDate }}</strong> and my most recent one was published on <strong>{{ collections.postStats.lastPostDate | postDate }}</strong>. I've published <strong>{{ collections.postStats.postCount }} posts</strong> containing <strong>{{ collections.postStats.totalWordCount }} words</strong> and <strong>{{ collections.postStats.totalCodeBlockCount }} code samples</strong>.</p>

<p>Posts have, on average, <strong>{{ collections.postStats.avgWordCount | round }} words</strong> and a gap of <strong>{{ collections.postStats.avgDays | round }} days</strong> between them.</p>
</span>

<h3>Posts by Year</h3>

<div class="graph">
    {%- for year in collections.postStats.years.reverse() %}
    <div class="graph__wrapper">
        <div class="graph__year">{{ year.year }}</div>
        <div class="graph__progress" style="width: {{ year.postCount / collections.postStats.highPostCount * 100 }}%;">
        </div>
        <div class="graph__data">
            {{ year.postCount }}
        </div>
    </div>
    {% endfor %}
</div>

<h4>Post Distribution Graphs</h4>

{%- for year in collections.postStats.years %}
    <div class="map">
        <div class="map__year">{{ year.year }}</div>
        <div class="map__months">
            <div>Jan</div>
            <div>Feb</div>
            <div>Mar</div>
            <div>Apr</div>
            <div>May</div>
            <div>Jun</div>
            <div>Jul</div>
            <div>Aug</div>
            <div>Sep</div>
            <div>Oct</div>
            <div>Nov</div>
            <div>Dec</div>
        </div>
        <div class="map__squares">
            {%- for day in range(1, year.daysInYear + 1) %}
                {% set indexKey = [year.year, "-", day] | join %}
                <div class="
                    map__box 
                    {% if collections.postStats.postsByDay[indexKey] %} hasPost {% endif %}
                "></div>
            {% endfor %}
        </div>
    </div>
{% endfor %}