---
title: Robb Knight
layout: base
hidetitle: true
permalink: 'index.html'
---

<div class="statuslol" style="">
    <div class="statuslol_emoji_container">
        <div>{{ status.emoji }}</div>
    </div>
    <div class="statuslol_content">
        <p>{{ status.content | mdToHtml | safe }}</p>
        <div class="statuslol_time">
            <a style="" href="https://robb.status.lol/{{ status.id }}">{{ status.created | toDateTimeFromUnix }}</a>
        </div>
    </div>
</div>

</div>{# don't remove this, it's important #}

<section class="box">
	<h2>About</h2>
	<p>👋 I'm Robb, lead developer at <a href="http://radweb.co.uk">Radweb</a> working on <a href="http://inventorybase.com">InventoryBase</a>, a member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and a podcaster with <a href="https://ruminatepodcast.com">two</a> <a href="https://wegot.family">shows</a>. I also <a href="/projects">make a bunch of stuff</a>.</p>

	<p>You can find me on Mastodon as <a href="https://social.lol/@robb">robb@social.lol</a> or <a href="https://psnprofiles.com/rknightuk">PSN</a>, <a href="https://letterboxd.com/rknightuk/">Letterboxd</a>, and more things as <code>rknightuk</code>.</p>

    <p><a href="/links">View all my links</a></p>
</section>

<section class="box">
	<h3>🗒️ <a href="/blog">Long Posts</a></h2>

	<ul class="no-bull">
		{%- for post in collections.firstPosts %}
		  <li>
		  	<span class="list-post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a>
		  </li>
		{% endfor %}
	</ul>
    <p><a href="/blog">View All Posts</a></p>


    <h3>🎺 <a href="/micro">Short Posts</a></h3>

    <div class="microblog-posts">
	{%- for post in micro.posts.slice(0, 5) %}
        {% include 'micropost.njk' %}
	{% endfor %}
    <p><a href="/micro">View All Micro Posts</a></p>
    </div>

    <h3>📷 <a href="/photos">Latest Photos<a></h3>
	<div class="microblog-photos">
		{%- for photo in micro.images.slice(0, 5) %}
			<div class="microblog-photo"><a href="/micro/{{ micro.postMap[photo.postId].path }}"><img src="{{ photo.url }}" alt="{{ photo.description }}"></a></div>
		{% endfor %}
	</div>
    <p><a href="/photos">View All Photos</a></p>

	<h3>🍿 <a href="https://toot.rknight.me/categories/movies">Recently Watched<a></h3>
	<div class="microblog-posts">
        <ul>
        {%- for watched in before.watched %}
            <li><a class="list-post-date" href="{{ watched.link }}">{{ watched.date }}</a> {{ watched.title }}</li>
        {% endfor %}
        </ul>
	</div>

    <div class="the-claw" style="margin: 0 auto;">
        <script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module"></script>
        <the-claw-webring-widget theme="light" hideMembers="true">
            <!-- TO DO ADD FALLBACK CONTENT -->
        </the-claw-webring-widget>
    </div>
</section>

<div class="projects">
	{%- for project in projects %}
		{% if project.ignore != true %}
		<div class="project {{ project.key }} {{ project.class }}">
			<div class="project-image" {% if project.color %}style="background-color: {{ project.color }}"{% endif %}>
				<img src="/assets/img/{{ project.key }}.{{ project.type }}" alt="{{ project.alt }}">
			</div>
			<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
			<p>{{ project.desc | safe }}</p>
		</div>
		{%  endif  %}
	{% endfor %}
</div>
