---
title: Links
layout: base
permalink: 'links/index.html'
---

<style>
.link-page-link {
    display: flex;
    align-items: center;
    padding: 10px;
}

.link-page-link svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.link-page-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 550px) {
  .link-page-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>
<div class="link-page-links">
{% for link in links %}
    <div class="link-page-link">
        <svg class="icon icon-{{ link.icon }}">
            <use xlink:href="#{{ link.icon }}"></use>
        </svg>
        <a href="{{ link.link }}">{{ link.title }}</a>
    </div>
{% endfor %}
</div>