---
layout: base
title: Log
subtitle: "[Site Version History](/log/versions)"
permalink: 'log/index.html'
templateEngineOverride: njk,html,md
---

### Projects Changelog

<span class="changelog">
    {%- for cl in collections.changelog %}
        {% include 'changelog_list_item.njk' %}
    {% endfor %}
</span>