---
pagination:
  data: micro.posts
  size: 1
  alias: post
permalink: 'micro/{{ post.path }}'
layout: base
eleventyComputed:
  title: "{{ post.date | toDateTime }}"
---

<p><a href="/micro">All Micro Posts</a></p>

{% include 'micropost.njk' %}
