---
pagination:
  data: micro.posts
  size: 20
  alias: post
permalink: 'micro/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
layout: base
eleventyComputed:
    title: Microblog
---

<p>
    <a href="/tags">All Tags</a> &bull; <a href="/micro/boosts">Boosted Links</a> &bull; <a href="/podcasts">Podcast Listening History</a> &bull; <a href="/photos">Photos</a> &bull; <a href="/adn">App.net archive</a>
</p>

<div class="pagination">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Posts</a>{% else %}Newer Posts{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Posts</a>{% else %}Older Posts{% endif %}</div>
</div>

{%- for post in pagination.items %}
  {% include 'micropost.njk' %}
{% endfor -%}

<div class="pagination">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Posts</a>{% else %}Newer Posts{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Posts</a>{% else %}Older Posts{% endif %}</div>
</div>
