---
title: /now
subtitle: "What am I doing _now_?"
permalink: 'now/index.html'
layout: base
eleventyNavigation:
  key: /now
  parent: Home
---

{% set nowList = collections.Now | reverse %}
{%- for post in [nowList[0]] -%}
    <aside class="alert">
        <div class="alert-icon">
            <svg class="icon alert-note">
                <use xlink:href="#bell"></use>
            </svg>
        </div>
        <p>Last updated <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.date | postDate }}</a> &middot; <a href="/blog/tags/now">Previous Entries</a></p>
    </aside>
    {{ post.content | safe }}
{%- endfor -%}