---
title: /now
subtitle: "What am I doing _now_?"
permalink: 'now/index.html'
layout: base
eleventyNavigation:
  key: /now
  parent: Home
---

<ul>
    <li><a href="https://nownownow.com/p/cEgQ">My profile on nownownow</a></li>
    <li><a href="https://rknight.me/automating-my-now-page/">How I automated my /now page</a></li>
        <ul>
            <li>"<em>A very strange use of time</em>" - <a href="https://youtu.be/2ZUqa-lTbnU?t=2199">Sophie Koonin</a></li>
        </ul>
</ul>

<h3>📌 Currently</h3>

{%- set currently -%}{% include 'currently.md' %}{%- endset -%}
{{ currently | mdToHtml | safe }}

<h3>📓 Saving</h3>

<ul>
    {%- for link in now.links %}
        <li>
            <a href="{{ link.url }}">
                {{ link.title }}
            </a>
        </li>
    {% endfor %}
</ul>

<h3>📺 Watching</h3>

<div class="almanac-grid almanac-grid-now">
    {%- for watching in nownext.now.watching %}
        <hyper-card>
            <a href="{{ watching.link }}">
                <img class="almanac-poster" src="{{ watching.image }}">
            </a>
        </hyper-card>
    {% endfor %}
</div>

<div style="font-size: 0.9em;">
    <p style="margin-bottom: 0;"><em>Recently watched:</em></p>

    <ul style="margin-top: 10px;">

        <li><a href="{{ collections.almanacTV[0].data.permalink | stripIndex }}">{{ collections.almanacTV[0].data.title }} Season {{ collections.almanacTV[0].data.season }}</a></li>
    </ul>
</div>

<h3>🎮 Playing</h3>

<div class="almanac-grid almanac-grid-now">
    {%- for playing in nownext.now.playing %}
        <hyper-card>
            <a href="{{ playing.link }}">
                <img class="almanac-poster" src="{{ playing.image }}">
            </a>
        </hyper-card>
    {% endfor %}
</div>

<div style="font-size: 0.9em;">
    <p style="margin-bottom: 0;"><em>Recently played:</em></p>

    <ul style="margin-top: 10px;">
        <li><a href="{{ collections.almanacGames[0].data.permalink | stripIndex }}">{{ collections.almanacGames[0].data.title }}</a></li>
    </ul>
</div>

<h3>📚 Reading</h3>

<div class="almanac-grid almanac-grid-now">
    {%- for reading in nownext.now.reading %}
        <hyper-card>
            <a href="{{ reading.link }}">
                <img class="almanac-poster" src="{{ reading.image }}">
            </a>
        </hyper-card>
    {% endfor %}
</div>

<div style="font-size: 0.9em;">
    <p style="margin-bottom: 0;"><em>Recently read:</em></p>

    <ul style="margin-top: 10px;">
        <li><a href="{{ collections.almanacBooks[0].data.permalink | stripIndex }}">{{ collections.almanacBooks[0].data.title }}</a></li>
    </ul>
</div>

<h3>🎧 Listening</h3>

<div class="almanac-grid now-grid">
    {%- for music in now.music.albums %}
        <hyper-card>
            <a href="{{ music.link }}">
                <img class="almanac-poster" src="{{ music.art }}">
            </a>
        </hyper-card>
    {% endfor %}
</div>

<div style="margin: 25px 0;">

<div class="almanac-grid now-grid">
    {%- for pod in now.podcasts %}
        {% if loop.index0 < 5 %}
            <hyper-card>
                <a href="{{ pod.url }}">
                    <img class="almanac-poster" src="{{ pod.image }}">
                </a>
            </hyper-card>
        {% endif %}
    {% endfor %}
</div>

{# <style>
    .now_game_text {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .now_game_text a {
        color: white;
        background: black;
        padding: 5px 10px;
        opacity: 0.8;
        border-bottom: none;
        text-decoration: none;
    }

    .now_game_text a:hover {
        text-decoration: underline;
    }

    .now_albums,
    .now_shows {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        position: relative;
    }

    .now_show {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .now_album:first-child {
        margin-left: 0;
    }

    .now_album img {
        max-width: 100%;
        object-fit: cover;
        transition: 0.2s linear;
        aspect-ratio: 1/1;
    }

    .now_show img {
        max-height: 200px;
    }

    .now_show img,
    .now_album img {
        transition: 0.2s linear;
    }

    .now_album img:hover,
    .now_show img:hover {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    .now_album_text {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: white;
    }

    .now_album_text_container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 0.7em;
        padding: 3px;
    }

    .now_album a,
    .now_show a {
        border-bottom: none;
    }
</style>

{{ now.content | safe }} #}
