---
title: Podcasts
layout: base
permalink: 'podcasts/history/index.html'
---

<h3 id="current">Current Subscriptions</h3>

<ul>
    {% for pod in podcasts.subscriptions %}
        <li><a href="{{ pod.url }}">{{ pod.title }}</a></li>
    {% endfor %}
</ul>


<h3 id="guest">Guest</h3>

<ul>
    <li><a href="https://podcasts.apple.com/us/podcast/the-adr-podcast/id880852027">The ADR Podcast 73: Back to the Future</a></li>
    <li><a href="https://www.relay.fm/cmdspace/8">CMD Space #8: The iPhone 5 Event, with Stephen Hackett</a> (1h08m)</li>
</ul>

<h3 id="notable-mentions">Notable Mentions</h3>

<ul>
    <li><a href="https://www.relay.fm/analogue/10">Analog(ue) #10: It’s an Internet Show for the Radio</a> (2:45) - &quot;<em>my favourite piece of follow up</em>&quot;. Myke got his age wrong and I pointed it out</li>
    <li><a href="https://www.relay.fm/connected/9">Connected #9: A War of Semantics</a> (5:30) - &quot;<em>Why does everyone know this Robb guy</em>&quot; - Viticci</li>
    <li><a href="http://5by5.tv/b2w/546">Back to Work #546: Snow Day for Nerds</a> - Merlin and Dan recommending TrackerZapper</li>
    <li><a href="https://twit.tv/shows/macbreak-weekly/episodes/855">Macbreak Weekly #855</a> (1:50:00) - Leo's pick of the week is my <a href="https://rknightuk.github.io/mac-30-font-svg/">Mac 30th Icons</a></li>
    <li><a href="https://listen.hemisphericviews.com/094">Hemispheric Views #094: Tiny Capes!</a> - (13:00) - My desk gets roasted</li>
    <li><a href="https://www.relay.fm/connected/478">Connected #478: Not So Bankrupt Anymore</a> - (29:45) - <a href="https://defaults.rknight.me">App Defaults</a> gets discussed as the inspiration for the <a href="https://www.macstories.net/setups/">MacStories setups page</a></li>
</ul>

<p>View top podcasts in the last 7 days on my <a href="/now">/now page</a>.</p>

<h3>Full History (since 2017)</h3>

<h4>Top 10 All Time</h4>

<style>
.now_albums {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    position: relative;
}

.now_album:first-child {
    margin-left: 0;
}

.now_album img {
    max-width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
    aspect-ratio: 1/1;
}

.now_album img {
    transition: 0.2s linear;
}

.now_album img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.now_album a {
    border-bottom: none;
}
</style>
<div class="now_albums">
    {% for pod in podcasts.stats.slice(0, 10) %}
        <div class="now_album">
            <a href="{{ pod.url }}"><img src="{{ pod.image }}"></a>
        </div>
    {% endfor %}
</div>

<details class="details">
    <summary>{{ podcasts.log.length }} {% if podcasts.log.length > 1 %}Episodes{% else %}Episode{% endif %}</summary>
    {% for post in podcasts.log %}
        <div>
            <p><a class="list-post-date" href="{{ post._podcast_metadata.episodeUrl }}">{{ post.date_published | isoDateOnly }}</a> <strong>{{ post._podcast_metadata.podcastTitle }}</strong> {{ post._podcast_metadata.episodeTitle }}</p>
        </div>
    {% endfor %}
</details>
