---
title: Podcasts
subtitle: "<a href='/podcasts/roll'>View Podroll</a> • <a href='/podcasts/history'>Listening History</a>"
layout: base
permalink: 'podcasts/index.html'
---

I currently have two podcasts: <a href='https://ruminatepodcast.com'>Ruminate</a> • <a href='https://wegot.family'>We Got Family</a>

{% set datePrinted = false %}
{% set currentYear = 1000 %}

{%- for pod in mypodcasts.all %}
    {% set podYear = pod.year %}

    {% if podYear != currentYear %}
        <h3>{{ podYear }}</h3>
    {% endif %}

    <p>
        <h4><a href="{{ pod.link }}">{{ pod.show.title }} {{ pod.title | safe }}</a></h4>
        <em>{{ pod.desc }}</em><br>
        <small>
        {{ pod.date }}
        </small>
    </p>

    {% set currentYear = podYear %}
{% endfor %}