---
title: Projects
layout: base
templateEngineOverride: njk,md
permalink: 'projects/index.html'
---

### Podcasts

<style>
  .projects-podcasts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }

  .projects-podcasts img {
    box-shadow: 3px 3px var(--body-text);
  }
</style>

<div class="projects-podcasts">
  <div>
    <img src="https://rknightuk.s3.amazonaws.com/site/podcast-ruminate.png">
    <p><a href="https://ruminatepodcast.com">Ruminate</a>: A podcast about what's on our minds</p>
  </div>
  <div>
    <img src="https://rknightuk.s3.amazonaws.com/site/podcast-family.png">
    <p><a href="https://wegot.family">We Got Family</a>: A Fast and Furious podcast</p>
  </div>
</div>

### Current

<ul>
{%- for project in projects.current %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor %}
</ul>

### omg.lol/Embed Tools

<ul>
{%- for project in projects.profile %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor%}
</ul>

### Relay FM/St Jude tools

<ul>
{%- for project in projects.stjude %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor%}
</ul>

### Shortcuts

<ul>
{%- for post in collections.shortcuts %}
<li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

### [#DevsDoDesign](http://devsdodesign.com): A multi-award winning hackathon team

- [Has It Blown Over Yet?](http://blownover.devsdodesign.com/): Winner, [Pub Hack #1](http://www.pubhack.co.uk/pubhack-1-results-report): Most Likely to Commercially Succeed.
- [Third World Problems](http://thirdworldproblems.devsdodesign.com/): [Pub Hack #2](http://www.pubhack.co.uk/pubhack-2-the-winners-and-report/)
- [CrapChat](https://github.com/PubHack/CrapChat): Winner, [Pub Hack #3](http://www.pubhack.co.uk/pubhack-3-results): Most Original Concept.
- [Knockoffia](http://knockoffia.devsdodesign.com/): Winner, [Pub Hack #4](http://www.pubhack.co.uk/pubhack-4-the-results/): Most Likely to Receive a Lawsuit.
- [T.R.U.M.P](http://devsdodesign.com/T.R.U.M.P./): Winner, [Pub Hack #5](http://www.pubhack.co.uk/pubhack-5-results/): Audience Choice Award.

### Oddly-Specific Playlists

- [Songs where the song is about how long the song is](https://music.apple.com/gb/playlist/songs-where-the-song-is-about-how-long-the-song-is/pl.u-GXVZCZJ7ad8)
- [Songs that use "fit" in the lyrics in the British sense](https://music.apple.com/gb/playlist/songs-that-use-fit-in-the-lyrics-in-the-british-sense/pl.u-NqqkTm2Yjap)

### Legacy

<ul>
{%- for project in projects.legacy %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor %}
</ul>

[Site Version History](/versions)