---
title: Projects
layout: base
templateEngineOverride: njk,md
permalink: 'projects/index.html'
---

### Podcasts

<div class="projects-podcasts">
  <div>
    <img src="https://rknightuk.s3.amazonaws.com/site/podcast-ruminate.png">
    <p><a href="https://ruminatepodcast.com">Ruminate</a>: A podcast about what's on our minds</p>
  </div>
  <div>
    <img src="https://rknightuk.s3.amazonaws.com/site/podcast-family.png">
    <p><a href="https://wegot.family">We Got Family</a>: A Fast and Furious podcast</p>
  </div>
</div>

### Current

- [Alfred Workflows](/alfred-workflows): All of my Alfred Workflows
- [Monzo Pot Image Generator](http://potimages.rknight.me): Generate images for your Monzo pots
- [Echo](http://echo.rknight.me/): RSS Cross Poster for Micro.blog and Mastodon
- [Brian Butterfield Diet Soundboard](https://treatday.rknight.me/): Saturday is treat day
- [TrackerZapper](/apps/tracker-zapper): Remove link tracking parameters automatically
- [chaosweb.space](https://github.com/rknightuk/chaosweb): Weird things! Wacky things! Fun things!
- [Mac 30th Anniversary Icons](https://rknightuk.github.io/mac-30-font-svg/)
- [Brickset CSV to JSON script](https://github.com/rknightuk/brickset-csv-to-json)
- [Back to the Future drinking game](https://rknightuk.github.io/back-to-the-future-drinking-game/)
- [Blahbarian](https://zoeaubert.me/blog/hack-pompey-2023/) (audio)
- [Micro Blog Tools](/projects/microblog/): All the Micro.blog-related things I've made
- [Stig Quote Generator](https://rknightuk.github.io/stig-quotes/)

#### omg.lol/Profile Tools

- [omg.log cli](https://github.com/rknightuk/omglolcli)
- [omgnow](https://omgnow.rknight.me/): Embed your omg.lol/now page on your website
- [RecentFM](https://recentfm.rknight.me/): Embed your now playing song from Last.fm

### Shortcuts

<ul>
{%- for post in collections.shortcuts %}
<li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

### [#DevsDoDesign](http://devsdodesign.com): A multi-award winning hackathon team

- [Has It Blown Over Yet?](http://blownover.devsdodesign.com/): Winner, [Pub Hack #1](http://www.pubhack.co.uk/pubhack-1-results-report): Most Likely to Commercially Succeed.
- [Third World Problems](http://thirdworldproblems.devsdodesign.com/): [Pub Hack #2](http://www.pubhack.co.uk/pubhack-2-the-winners-and-report/)
- [CrapChat](https://github.com/PubHack/CrapChat): Winner, [Pub Hack #3](http://www.pubhack.co.uk/pubhack-3-results): Most Original Concept.
- [Knockoffia](http://knockoffia.devsdodesign.com/): Winner, [Pub Hack #4](http://www.pubhack.co.uk/pubhack-4-the-results/): Most Likely to Receive a Lawsuit.
- [T.R.U.M.P](http://devsdodesign.com/T.R.U.M.P./): Winner, [Pub Hack #5](http://www.pubhack.co.uk/pubhack-5-results/): Audience Choice Award.

### Oddly-Specific Playlists

- [Songs where the song is about how long the song is](https://music.apple.com/gb/playlist/songs-where-the-song-is-about-how-long-the-song-is/pl.u-GXVZCZJ7ad8)
- [Songs that use "fit" in the lyrics in the British sense](https://music.apple.com/gb/playlist/songs-that-use-fit-in-the-lyrics-in-the-british-sense/pl.u-NqqkTm2Yjap)

[Site Version History](/versions)

### Legacy

- [Worst popup ever](https://github.com/rknightuk/worst-popup-ever)
- [Who's That Emoji?](https://rknightuk.github.io/whos-that-emoji/)
- [Bonanza! Coffee](https://rknightuk.github.io/bonanzacoffee/)
- [Hexo JSON Feed plugin](https://github.com/rknightuk/hexo-generator-json-feed-org)
- [Better Mastodon aka Joe Rosentoot](https://rknightuk.github.io/better-mastodon)
- [Mastodon Toot Bookmarklet](https://rknightuk.github.io/mastodon-toot-bookmarklet/)
- [FlatUI for Transmission Web](https://github.com/rknightuk/transmission-flatUI)
- [Matt Bot or Not](https://rknightuk.github.io/mattbotornot/)
- [Pebble Watch Faces](https://github.com/rknightuk/pebble-faces)
  - [GoSquared for Pebble](https://github.com/rknightuk/gosquared-for-pebble)
- [Almanac](http://github.com/rknightuk/almanac/): A microblog for what you've watched, read, and listened to.