---
title: Projects
layout: base
templateEngineOverride: njk,md
permalink: 'projects/index.html'
---

### Current

{% set imagePrefix = '/assets/projects/' %}

<div class="cards">
{%- for project in projects.current %}{% include 'project-card.njk' %}{% endfor%}
</div>

### omg.lol/Embed Tools

<div class="cards">
{%- for project in projects.profile %}{% include 'project-card.njk' %}{% endfor%}
</div>

### Relay FM for St Jude Fundraising

<div class="cards">
{%- for project in projects.stjude %}{% include 'project-card.njk' %}{% endfor%}
</div>

### Design

<div class="cards">
{%- for project in projects.design %}{% include 'project-card.njk' %}{% endfor%}
</div>

### Mastodon Bots

<div class="cards">
{%- for project in projects.bots %}{% include 'project-card.njk' %}{% endfor%}
</div>

### Shortcuts

<ul>
{%- for post in collections.shortcuts %}
<li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

### Misc

<ul>
{%- for project in projects.other %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor %}
</ul>

### [#DevsDoDesign](http://devsdodesign.com)

- [Has It Blown Over Yet?](http://blownover.devsdodesign.com/): Winner, [Pub Hack #1](http://www.pubhack.co.uk/pubhack-1-results-report): Most Likely to Commercially Succeed.
- [Third World Problems](http://thirdworldproblems.devsdodesign.com/): [Pub Hack #2](http://www.pubhack.co.uk/pubhack-2-the-winners-and-report/)
- [CrapChat](https://github.com/PubHack/CrapChat): Winner, [Pub Hack #3](http://www.pubhack.co.uk/pubhack-3-results): Most Original Concept.
- [Knockoffia](http://knockoffia.devsdodesign.com/): Winner, [Pub Hack #4](http://www.pubhack.co.uk/pubhack-4-the-results/): Most Likely to Receive a Lawsuit.
- [T.R.U.M.P](http://devsdodesign.com/T.R.U.M.P./): Winner, [Pub Hack #5](http://www.pubhack.co.uk/pubhack-5-results/): Audience Choice Award.

### Oddly-Specific Playlists

- [Songs where the song is about how long the song is](https://music.apple.com/gb/playlist/songs-where-the-song-is-about-how-long-the-song-is/pl.u-GXVZCZJ7ad8)
- [Songs that use "fit" in the lyrics in the British sense](https://music.apple.com/gb/playlist/songs-that-use-fit-in-the-lyrics-in-the-british-sense/pl.u-NqqkTm2Yjap)

[Site Version History](/log/versions)

<details>
  <summary>Domains</summary>
  <ul>
    <li><code><a href="https://rknight.me">rknight.me</a></code></li>
    <ul>  
      <li><code>old name domain 1, redirects here</code></li>
      <li><code>old name domain 2, redirects here</code></li>
      <li><a href="https://septembed.rknight.me"><code>septembed.rknight.me</code></a></li>
      <li><a href="https://donationtreats.rknight.me"><code>donationtreats.rknight.me</code></a></li>
      <li><a href="https://donationdaddy.rknight.me"><code>donationdaddy.rknight.me</code></a></li>
      <li><a href="https://treatday.rknight.me"><code>treatday.rknight.me</code></a></li>
      <li><a href="https://recentfm.rknight.me"><code>recentfm.rknight.me</code></a></li>
      <li><a href="https://api.rknight.me"><code>api.rknight.me</code></a></li>
      <li><a href="https://omgnow.rknight.me"><code>omgnow.rknight.me</code></a></li>
      <li><a href="https://lantern.rknight.me"><code>lantern.rknight.me</code></a></li>
      <li><a href="https://echo.rknight.me"><code>echo.rknight.me</code></a></li>
      <li><a href="https://status.rknight.me"><code>status.rknight.me</code></a></li>
      <li><a href="https://hellsite.rknight.me"><code>hellsite.rknight.me</code></a></li>
      <li><a href="https://intersect.rknight.me"><code>intersect.rknight.me</code></a></li>
      <li><a href="https://potimages.rknight.me"><code>potimages.rknight.me</code></a></li>
      <li><a href="https://micromarks.rknight.me"><code>micromarks.rknight.me</code></a></li>
      <li><a href="https://toot.rknight.me"><code>toot.rknight.me</code></a></li>
      <li><a href="https://lantern.rknight.me"><code>lantern.rknight.me</code></a></li>
      <li><a href="https://podduration.rknight.me"><code>podduration.rknight.me</code></a></li>
      <li><a href="https://knightbot.rknight.me"><code>knightbot.rknight.me</code></a></li>
      <li><a href="https://vlcnr.rknight.me"><code>vlcnr.rknight.me</code></a></li>
      <li><code>secret project 1</code></li> 
      <li><code>secret project 2</code></li>
    </ul>
    <li><code><a href="https://wegot.family">wegot.family</a></code></li>
    <li><code><a href="https://ruminatepodcast.com">ruminatepodcast.com</a></code></li>
    <li><code><a href="https://coinme.dad/dy">coinme.dad/dy</a></code></li>
    <li><code><a href="https://deskmat.help">deskmat.help</a></code></li>
    <li><code>secret relay.fm project</code></li>
    <li><code><a href="https://bugle.lol">bugle.lol</a></code></li>
    <li><code><a href="https://alm.lol">alm.lol</a></code></li>
    <li><code><a href="https://chaosweb.space">chaosweb.space</a></code></li>
  </ul>
    
</details>