---
title: Search
layout: base
permalink: 'search/index.html'
eleventyNavigation:
  key: Search
  parent: Home
---
<style>
.pagefind-ui__search-input {
    font-size: 1em;
    width: 100%;
    padding: 10px;
    font-family: var(--monospace);
}

.pagefind-ui__results {
    list-style-type: none;
    margin-left: -25px;
}
</style>
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showImages: false,
            showEmptyFilters: false,
            sort: { date: "desc" },
            processResult: function (result) {
                if (!result.meta.title) {
                    result.meta.title = `${result.content.split('•')[0]}`
                }
                return result;
            }
        });
    });
</script>

{%- set popular = fathom | popularPosts(10) -%}
{% include 'popular_posts.njk' %}