---
title: Search
layout: base
permalink: 'search/index.html'
eleventyNavigation:
  key: Search
  parent: Home
---
{# <style>
.pagefind-ui__search-input {
    font-size: 1em;
    width: 100%;
    padding: 10px;
    font-family: var(--monospace);
}

.pagefind-ui__results {
    list-style-type: none;
    margin-left: -25px;
}
</style> #}

<style>
    body {
        --pagefind-ui-primary: #eeeeee;
        --pagefind-ui-text: #eeeeee;
        --pagefind-ui-background: #152028;
        --pagefind-ui-border: #152028;
        --pagefind-ui-tag: #152028;
    }
</style>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search", 
            showSubResults: false,
            autofocus: true,
        });
    });
</script>

{%- set popular = fathom | popularPosts(10) -%}
{% include 'popular_posts.njk' %}