---
title: sitemap2
permalink: /sitemap2/
layout: base
---

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

{% set navPages = collections.all | eleventyNavigation %}
{{ navPages | dump | safe }}