---
pagination:
  data: micro.tags
  size: 1
  alias: tag
permalink: 'micro/tags/{{ tag.toLowerCase() | slug }}/index.html'
layout: base
eleventyComputed:
  title: "#{{ tag }}"
---

{% if tag === 'Statuses' %}
    <p><a href="https://robb.status.lol">my status.lol page</a></p>
{% endif %}

{% if tag === 'Movies' %}
<p><a href="https://letterboxd.com/rknightuk/">On Letterboxd</a> &bull; <a href="https://rknight.me/no-more-ratings/">No More Ratings</a></p>
{% endif %}

</div>

{%- for post in micro.tagMap[tag] %}
     <div class="box">
      {% include 'micropost.njk' %}
    </div>
{% endfor %}
