---
permalink: subscribe/changelog/atom.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/subscribe/styles.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Robb Knight • Changelog • Atom Feed</title>
  <subtitle>{{ site.config.description }}</subtitle>
  <link rel="self">https://rknight.me/{{permalink}}</link>
  <updated>{{ changelog[0].date | dateForFeed }}</updated>
  <id>rknight.me/log</id>
  <author>
    <name>Robb Knight</name>
  </author>
  {%- for cl in changelog %}
    <entry>
        <title>{{ cl.title }}</title>
        <link href="{{ cl.link }}"/>
        <updated>{{ cl.date | dateForFeed }}</updated>
        <id>https://{{ cl.link }}/#{{ cl.date }}</id>
        <summary>{{ cl.description | mdToHtmlInline | safe }}</summary>
        <content type="html">
            <![CDATA[
                {{ cl.encoded | safe }}
            ]]>
        </content>
    </entry>
  {%- endfor %}
</feed>
