---
title: Projects
subtitle: "All of the projects I've worked on. Most of the source for them can be found on [my GitHub](https://github.com/rknightuk)."
layout: base
permalink: 'projects/index.html'
wide: true
templateEngineOverride: njk,html
---

{% set imagePrefix = '/assets/projects/' %}

<h3>Podcasts</h3>

<div class="cards">
{%- for project in projects.podcasts %}{% include 'project-card.njk' %}{% endfor%}
</div>

<h3>Current</h3>

<div class="cards">
{%- for project in projects.current %}{% include 'project-card.njk' %}{% endfor%}
</div>

<h3>omg.lol/Embed Tools</h3>

<div class="cards">
{%- for project in projects.profile %}{% include 'project-card.njk' %}{% endfor%}
</div>

<h3>Relay FM for St Jude Fundraising</h3>

<div class="cards">
{%- for project in projects.stjude %}{% include 'project-card.njk' %}{% endfor%}
</div>

<h3>Design</h3>

<div class="cards">
{%- for project in projects.design %}{% include 'project-card.njk' %}{% endfor%}
</div>

<h3>Mastodon Bots</h3>

<div class="cards">
{%- for project in projects.bots %}{% include 'project-card.njk' %}{% endfor%}
</div>

</div><div class="container container-sm">

<h3>Shortcuts</h3>

<ul>
{%- for post in collections['Shortcuts'] %}
<li><a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

<h3>Misc</h3>

<ul>
{%- for project in projects.other %}
  <li><a href="{{ project.link }}">{{ project.title }}</a>{% if project.desc %}: {{ project.desc }}{% endif %}</li>
{% endfor %}
</ul>

<h3><a href="http://devsdodesign.com">#DevsDoDesign</a></h3>

<ul>
    <li>
        <a href="http://blownover.devsdodesign.com/">Has It Blown Over Yet?</a>: Winner, 
        <a href="http://www.pubhack.co.uk/pubhack-1-results-report">Pub Hack #1</a>: Most Likely to Commercially Succeed.
    </li>
    <li>
        <a href="http://thirdworldproblems.devsdodesign.com/">Third World Problems</a>: 
        <a href="http://www.pubhack.co.uk/pubhack-2-the-winners-and-report/">Pub Hack #2</a>
    </li>
    <li>
        <a href="https://github.com/PubHack/CrapChat">CrapChat</a>: Winner, 
        <a href="http://www.pubhack.co.uk/pubhack-3-results">Pub Hack #3</a>: Most Original Concept.
    </li>
    <li>
        <a href="http://knockoffia.devsdodesign.com/">Knockoffia</a>: Winner, 
        <a href="http://www.pubhack.co.uk/pubhack-4-the-results/">Pub Hack #4</a>: Most Likely to Receive a Lawsuit.
    </li>
    <li>
        <a href="http://devsdodesign.com/T.R.U.M.P./">T.R.U.M.P</a>: Winner, 
        <a href="http://www.pubhack.co.uk/pubhack-5-results/">Pub Hack #5</a>: Audience Choice Award.
    </li>
</ul>

<h3>Oddly-Specific Playlists</h3>

<ul>
    <li>
        <a href="https://music.apple.com/gb/playlist/songs-where-the-song-is-about-how-long-the-song-is/pl.u-GXVZCZJ7ad8">Songs where the song is about how long the song is</a>
    </li>
    <li>
        <a href="https://music.apple.com/gb/playlist/songs-that-use-fit-in-the-lyrics-in-the-british-sense/pl.u-NqqkTm2Yjap">Songs that use &quot;fit&quot; in the lyrics in the British sense</a>
    </li>
</ul>

<p><a href="/log/versions">Site Version History</a></p>