---
pagination:
  data: collections.links
  size: 50
  alias: link
permalink: 'links/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
layout: base
eleventyComputed:
    title: Links
    subtitle: A collection of interesting links
---

{%- for link in pagination.items %}
    {% include 'link_list_item.njk' %}
    {% if loop.last %}
    {% else %}
        <hr>
    {% endif %}
{% endfor -%}

<div class="pagination box">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Links</a>{% else %}{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Links</a>{% else %}{% endif %}</div>
</div>
