---
title: Lego
permalink: 'collections/lego/index.html'
layout: collections
css: collections
---

<style>
    .collection-image-wrapper img {
        box-shadow: none;
    }

    .collection-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
</style>

<h3>{{ lego.count.sets }} sets across {{ lego.count.themes }} themes</h3>

{%- for theme in lego.themes %}
    <details class="collection-grid-container">
        <summary>
            <span>
                <span class="summary-wrap">
                    {{ theme }} ({{ lego.sets[theme].length }})
                </span>
            </span>
        </summary>
        <div class="collection-grid">
            {%- for set in lego.sets[theme] %}
                <div class="collection-item-wrapper">
                    <div class="collection-image-wrapper">
                        <a target="_blank" rel="noopener" href="https://brickset.com/sets/{{ set.id }}">
                            <img src="/assets/lego/{{ set.blId }}.jpg">
                        </a>
                    </div>
                    <div class="collection-label">{{ set.title }} ({{ set.id }})</div>
                </div>
            {% endfor%}
        </div>
    </details>
{% endfor%}
