---
title: Everything Else
subtitle: "_slaps roof_ this website can fit so many pages in it"
layout: base
permalink: 'explore/index.html'
eleventyNavigation:
  key: Everything Else
  parent: Home
---

<p>The nav bar was getting pretty crowded so everything else lives here. Here's the highlights or <a href="#sitemap">jump to the sitemap</a>.</p>

{%- for page in site.explore -%}
  <div>
      <p class="post-title" style="margin-top: 5px"><a href="{{ page.link }}">{{ page.title }}</a></p>
      <em class="post-excerpt">{{ page.description }}</em>
  </div>
{%- endfor -%}

<hr>

<h3 id="sitemap">Sitemap</h3>

{{ collections.all | eleventyNavigation("Home") | sortByName | eleventyNavigationToHtml | safe }}