---
title: Explore
subtitle: "_slaps roof_ this website can fit so many pages in it"
layout: base
permalink: 'explore/index.html'
eleventyNavigation:
  key: Explore
  parent: Home
---

{%- for page in site.explore.stuff -%}
<div class="exp-block">
  <div class="exp-block-icon">
    <svg class="icon"><use xlink:href="#icon-{{ page.icon }}"></use></svg>
  </div>
  <div>
    <a href="{{ page.link }}">{{ page.title }}</a>
    <p>{{ page.description }}</p>
  </div>
</div>
{% if page.more %}
  {%- for more in page.more -%}
    <div class="exp-block exp-indent">
      <div class="exp-block-icon">
        <svg class="icon"><use xlink:href="#icon-{{ more.icon }}"></use></svg>
      </div>
      <div>
        <a href="{{ more.link }}">{{ more.title }}</a>
        <p>{{ more.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endif %}
{%- endfor -%}

{%- for page in site.explore.slash -%}
<div class="exp-block">
  <div class="exp-block-icon">
    <svg class="icon"><use xlink:href="#icon-slash"></use></svg>
  </div>
  <div>
    <a href="{{ page.link }}">{{ page.title }}</a>
    <p>{{ page.description }}</p>
  </div>
</div>
{%- endfor -%}