---
title: Explore
subtitle: "_slaps roof_ this website can fit so many pages in it"
layout: base
permalink: 'explore/index.html'
eleventyNavigation:
  key: Explore
  parent: Home
---

{%- for page in site.explore.stuff -%}
<div class="entryitem">
    <div class="entryitem--data">
        <a href="{{ page.link }}">{{ page.title }}</a>
        <hr>
    </div>
    <div class="entryitem--excerpt">
      <p><em>{{ page.description }}</em></p>
    </div>
</div>
{% if page.more %}
  {%- for more in page.more -%}
    <div class="entryitem entryitem--more">
      <div class="entryitem--data">
          <a href="{{ more.link }}">{{ more.title }}</a>
          <hr>
      </div>
      <div class="entryitem--excerpt">
        <p><em>{{ more.description }}</em></p>
      </div>
    </div>
  {% endfor %}
{% endif %}
{%- endfor -%}

<h3>Slash Pages</h3>
<p style="margin-top: -10px;"><small><em><a href="https://slashpages.net">what are slash pages</a></em></small></p>

{%- for page in site.explore.slash -%}
<div class="entryitem">
    <div class="entryitem--data">
        <a href="{{ page.link }}">/{{ page.title }}</a>
        <hr>
    </div>
    <div class="entryitem--excerpt">
      <p><em>{{ page.description }}</em></p>
    </div>
</div>
{%- endfor -%}