h3, h4 {
    margin-bottom: 0;
}

h4 {
    margin-top: 5px;
    margin-left: 7px;
}

.now_albums {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.now_album {
    position: relative;
    flex: 1;
    max-height: 170px;
    max-width: 170px;
    margin-left: 5px;
}

.now_album:first-child {
    margin-left: 0;
}

.now_album img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.now_album_text {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.now_album_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
