@font-face {
  font-family: Bayshore;
  src: url('/assets/Bayshore.woff') format('woff');
}

:root {
  --color-primary: #f62459;
  --body-background: #222527;
  --body-text: #B2CCD6;
  --heading-color: #fff;
  --subtle-color: #6f6f6f;
}

body {
  /** source: http://markdotto.com/2018/02/07/github-system-fonts/ **/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  line-height: 1.6;
  color: var(--body-text);
  max-width: 800px;
  padding: 30px;
  padding-top: 0;
  margin: auto;
  background: var(--body-background);
}

img {
  max-width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

a:visited {
  color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

header {
  text-align: center;
  margin-top: 20px;
}

.main-header {
  font-family: Bayshore;
  font-size: 4.5em;
  margin-bottom: 0;
  color: white!important;
}

.main-header {
  text-decoration: none;
  color: white;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 
        0 0 7px var(--color-primary),
        0 0 10px var(--color-primary),
        0 0 21px var(--color-primary),
        0 0 42px var(--color-primary),
        0 0 82px var(--color-primary),
        0 0 92px var(--color-primary),
        0 0 102px var(--color-primary), 
        0 0 10px var(--color-primary)
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.main-header:hover {
  animation: flicker 1.5s infinite alternate;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}

h2 a {
  color: var(--heading-color);
  text-decoration: none;
}

@media (max-width: 630px) {
  .main-header {
    font-size: 3em;
  }
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--heading-color);
}

li {
  padding: 5px 0;
}

.no-bull {
  list-style-type: none;
}

blockquote {
  font-style: italic;
}

.nav {

}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.nav__list--item {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav__list--item a {
    text-decoration: none;
}

.nav__list--item a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
  .nav__list {
    flex-wrap: wrap;
  }

  .nav__list--item {
    flex-basis: 50%;
  }

  h2 {
    font-size: 1.3em;
  }
}

footer {
  font-size: 0.8em;
  text-align: center;
}

.post-list {
  list-style-type: none;
  margin-left: -30px;
}

.post-date {
  font-family: monospace;
  font-weight: bold;
  font-size: 110%;
  color: var(--subtle-color);
}

.post-excerpt {
  font-size: 0.9em;
  font-style: italic;
}

p,
ul {
  margin-top: 0;
}

.project {
  text-align: center;
  padding: 20px 10px 5px 10px;
  border-bottom: 1px solid var(--subtle-color);
}

.project:last-child {
  border-bottom: none;
}

.project img {
  height: 75px;
}

/* buttons and forms from Sakura.css */
input, textarea {
  border: 1px solid #c9c9c9; }
  input:focus, textarea:focus {
    border: 1px solid #ffffff; }

textarea {
  width: 100%; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  color: #222222;
  border-radius: 1px;
  border: 1px solid #ffffff;
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
    color: #222222;
    outline: 0; }

textarea, select, input {
  font-size: 14px;
  color: #c9c9c9;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input:focus {
    border: 1px solid #ffffff;
    outline: 0; }

input[type="checkbox"]:focus {
  outline: 1px dotted #ffffff; }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }