.wf-header-img {
    text-align: center;
    margin: 10px 0;
}

.wf-wrap {
    text-align: center;
}

.wf-wrap p {
    margin-bottom: 0;
}

.wf-icon {
    margin-top: 10px;
    box-shadow: 1px 1px 10px;
    border-radius: 1000px;
    width: 150px;
}

.wf-head-info h3 {
    margin-bottom: 0;
}

.wf-head-info h3 a {
    text-decoration: none;
}

.wf-head-info h3 a:hover {
    text-decoration: underline;
}

.wf-screenshot {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}