---
title: My Alfred Workflows
layout: base
---

<p>The workflows below are all built by me using a combination of bash and/or <a href="https://github.com/JXA-Cookbook/JXA-Cookbook">JXA</a>. Some of them will be useful to other people, like the Audio Device Switcher, but others are very specific to me and my setup.</p>

<p>None of the workflows require any additional dependencies with the exception of the audio-related ones which require <a href="https://github.com/deweller/switchaudio-osx">switchaudio-osx</a>.</p>

<p>If you're interested in the third-party workflows I use, there is a <a href="https://github.com/rknightuk/alfred-workflows#third-party-workflows">list on GitHub</a>.</p>
<p><a href="https://github.com/rknightuk/alfred-workflows">View source on GitHub</a></p>

<h3>Useful Resources</h3>

Some useful resources for building your own Alfred workflows:

<ul>
	<li><a href="https://github.com/JXA-Cookbook/JXA-Cookbook">JXA Cookbook</a> - A guide to using the various features of JXA</li>
	<li><a href="https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater">OneUpdater</a> - Script to add to your workflows to auto-update them</li>
	<li><a href="https://www.alfredforum.com/topic/9873-how-to-package-a-workflow-via-the-command-line/">A guide on how to programatically export workflows</a></li>
</ul>

<h3>Table of Contents</h3>
<ul>
	{%- for workflow in alfred.workflows %}
		<li><a href="#{{ workflow.uid }}">{{ workflow.name }}</a></li>
	{% endfor %}
</ul>
{%- for workflow in alfred.workflows %}
	<h3 id="{{ workflow.uid }}">{{ workflow.name }}</h3>
	{% if workflow.description %}
		<p><em>{{ workflow.description }}</em></p>
	{% endif %}
	<p><a href="{{ workflow.link }}">Download version {{ workflow.version }}</a></p>
	{% if workflow.screenshot %}
		<img src="{{ workflow.screenshot }}">
	{% endif %}
{% endfor %}