---
title: Alfred Workflows
layout: base
css: workflows
---

<div class="wf-header-img">
	<img src="/assets/img/workflows.png">
</div>

<p>The workflows below are all built by me using a combination of bash and/or <a href="https://github.com/JXA-Cookbook/JXA-Cookbook">JXA</a>. Some of them will be useful to other people, like the Audio Device Switcher, but others are very specific to me and my setup.</p>

<p>None of the workflows require any additional dependencies with the exception of the audio-related ones which require <a href="https://github.com/deweller/switchaudio-osx">switchaudio-osx</a>.</p>

<p>If you're interested in the third-party workflows I use, there is a <a href="https://github.com/rknightuk/alfred-workflows#third-party-workflows">list on GitHub</a>.</p>
<p><a href="https://github.com/rknightuk/alfred-workflows">View source on GitHub</a></p>

<h3>Useful Resources</h3>

Some useful resources for building your own Alfred workflows:

<ul>
	<li><a href="https://github.com/JXA-Cookbook/JXA-Cookbook">JXA Cookbook</a> - A guide to using the various features of JXA</li>
	<li><a href="https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater">OneUpdater</a> - Script to add to your workflows to auto-update them</li>
	<li><a href="https://www.alfredforum.com/topic/9873-how-to-package-a-workflow-via-the-command-line/">A guide on how to programatically export workflows</a></li>
</ul>

{%- for workflow in alfred.workflows %}
	<div class="wf-wrap" id="{{ workflow.uid }}">
		<div class="wf-head-icon">
			<img class="wf-icon" src="{{ workflow.icon }}">
		</div>
		<div class="wf-head-info">
			<h3><a href="#{{ workflow.uid }}">#</a> {{ workflow.name }}</h3>
			{% if workflow.description %}
				<p><em>{{ workflow.description }}</em></p>
			{% endif %}
			<p><a href="{{ workflow.link }}">Download version {{ workflow.version }}</a></p>
		</div>
	</div>
	{% if workflow.screenshot %}
		<img class="wf-screenshot" src="{{ workflow.screenshot }}">
	{% endif %}
{% endfor %}