---
title: Blog Archive
layout: base
---

<ul>
{%- for post in collections.posts %}
	<li>
		<span class="post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a>
	</li>
{% endfor %}
</ul>