---
title: Blog
layout: base
---

<ul class="post-list">
{%- for post in collections.posts | reverse -%}
  <li>
  	<span class="post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink }}">{{ post.data.title }}</a>
  </li>

  </article>
{% endfor %}
</ul>