---
title: Robb Knight
layout: base
hidetitle: true
---

<section>
	<h2 class="heading-medium">About</h2>
	<p>👋 I'm Robb, lead developer at <a href="http://radweb.co.uk">Radweb</a> working on <a href="http://inventorybase.com">InventoryBase</a>, a member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and a <a href="https://ruminatepodcast.com">podcaster</a>. I also <a href="/projects">make a bunch of stuff</a>.</p>

	<p>You can find me on <a href="https://micro.blog/rknightuk?remote_follow=1">Micro.blog as @rknightuk</a>, follow me on Mastodon as <code>robb@toot.rknight.me</code>, <a href="https://psnprofiles.com/rknightuk">PSN</a>, <a href="https://letterboxd.com/rknightuk/">Letterboxd</a>, and more things as <code>rknightuk</code>.</p>
</section>
</div>

<div class="projects">
	{%- for project in projects %}
		{% if project.ignore != true %}
		<div class="project {{ project.key }} {{ project.class }}">
			<div class="project-image" {% if project.color %}style="background-color: {{ project.color }}"{% endif %}>
				<img src="/assets/img/{{ project.key }}.{{ project.type }}" alt="{{ project.alt }}">
			</div>
			<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
			<p>{{ project.desc | safe }}</p>
		</div>
		{%  endif  %}
	{% endfor %}
</div>

<section class="box">
	<h3 class="heading-medium">🗒️ <a href="/blog">Long Posts</a></h2>

	<ul class="no-bull">
		{%- for post in collections.firstPosts %}
		  <li>
		  	<span class="post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a>

		  	<br>

		  	<span class="post-excerpt">{{ post.data.excerpt }}</span>
		  </li>
		{% endfor %}
	</ul>

	<h3>🎺 <a href="https://toot.rknight.me/">Short Posts</a></h3>
	<div class="microblog-posts">
	{%- for post in micro.posts %}
		<div class="microblog-post">
			{% if post.title %}
				<p><a class="post-date" href="{{ post.url }}">{{ post.date }}</a> {{ post.title }}</p>
			{% else %}
				<p><a class="post-date" href="{{ post.url }}">{{ post.date }}</a> {{ post.summary | safe }}</p>
			{% endif %}
		</div>
	{% endfor %}
	</div>

	<h3>📷 <a href="https://toot.rknight.me/photos">Latest Photos<a></h3>
	<div class="microblog-photos">
		{%- for photo in micro.photos %}
			<div class="microblog-photo"><a href="{{ photo.url }}"><img src="{{ photo.image }}"></a></div>
		{%  endfor %}
	</div>

	<h3>📺 <a href="https://toot.rknight.me/categories/movies">Recently Watched<a></h3>
	<div class="microblog-posts">
	{%- for watched in micro.watched %}
		<div class="microblog-post">
			<p><a class="post-date" href="{{ watched.url }}">{{ watched.date }}</a> {{ watched.summary | safe }}</p>
		</div>
	{% endfor %}
	</div>

	<h3>📚 <a href="https://toot.rknight.me/reading/">Currently Reading</a></h3>

	{%- for read in micro.reading %}
		<div class="microblog-post">
			<p><a class="post-date" href="{{ read.url }}">{{ read.title }}</a></p>
		</div>
	{% endfor %}
	</div>
</section>

<section class="box" style="position: relative;">
	<script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module"></script>
	<the-claw-webring-widget theme="light">
  		<!-- TO DO ADD FALLBACK CONTENT -->
	</the-claw-webring-widget>
	<div class="webring"><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Webring">wtf is a webring though</a></div>
</section>