---
title: Robb Knight
layout: base
hidetitle: true
---

<section>
	<h2 class="heading-medium">About</h2>

	<p>I'm lead developer at <a href="http://radweb.co.uk">Radweb</a> working on <a href="http://inventorybase.com">InventoryBase</a>, a founding member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and I do <a href="http://ruminatepodcast.com">a podcast</a> with <a href="http://johnvoorhees.co">John Voorhees</a>.</p>
</section>

<section>
	<h2 class="heading-medium"><a href="/blog">Writing</a></h2>

	<ul class="no-bull">
		{%- for post in collections.firstThreePosts %}
		  <li>
		  	<span class="post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a>

		  	<br>

		  	<span class="post-excerpt">{{ post.data.excerpt }}</span>
		  </li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2 class="heading-medium"><a href="/projects">Projects</a></h2>

	<ul class="no-bull">
		<li><a href="http://ruminatepodcast.com">Ruminate</a>: A podcast about what's on our minds. Mostly chicken.</li>
		<li><a href="http://potimages.rknight.me">Monzo Pot Image Generator</a>: Generate images for your Monzo pots</li>
		<li><a href="http://devsdodesign.com">#DevsDoDesign</a>: A multi-award winning hackathon team</li>
		<li><a href="https://github.com/rknightuk/almanac">Almanac</a>: A microblog for what you've watched, read, and listened to.</li>
	</ul>
</section>

<section>
	<h2 class="heading-medium">Social</h2>

	<ul class="no-bull">
		<li><a href="#">Twitter</a>: Hot Takes and terrible jokes</li>
		<li><a href="#">GitHub</a>: All my open source projects</li>
		<li>Nintendo Switch: SW-5633-0258-5413</li>
		<li>PSN, Twitch, FB, & more: .../rknightuk</li>
	</ul>
</section>
