---
title: Robb Knight
layout: base
hidetitle: true
---

<section>
	<h2 class="heading-medium">About</h2>
	<p>👋 I'm Robb, lead developer at <a href="http://radweb.co.uk">Radweb</a> working on <a href="http://inventorybase.com">InventoryBase</a>, a member of <a href="http://devsdodesign.com">#DevsDoDesign</a>, an award winning hackathon team, and a <a href="https://ruminatepodcast.com">podcaster</a>. I also <a href="/projects">make a bunch of stuff</a>.</p>
</section>
</div>

<div class="projects">
	<div class="project podcast">
		<div class="project-image">
			<img src="/assets/img/ruminate.svg" alt="Ruminate Podcast Logo">
		</div>
		<h2><a href="http://ruminatepodcast.com">Ruminate</a></h2>
		<p>A podcast about what's on our minds. Mostly chicken.</p>
	</div>

	<div class="project monzo">
		<div class="project-image">
			<img src="/assets/img/monzo.svg" alt="Monzo Logo">
		</div>
		<h2><a href="http://potimages.rknight.me">Monzo Pot Image Generator</a></h2>
		<p>Generate images for your Monzo pots. And now your Stream Deck too.</p>
	</div>

	<div class="project tz">
		<div class="project-image">
			<img src="/assets/img/trackerzapper.png" alt="TrackerZapper Logo">
		</div>
		<h2><a href="/apps/tracker-zapper">TrackerZapper</a></h2>
		<p>Mac app to remove tracking parameters from links you copy.</p>
	</div>

	<div class="project intersect">
		<div class="project-image">
			<img src="/assets/img/intersect.png" alt="Intersect Logo">
		</div>
		<h2><a href="http://intersect.rknight.me">The Intersect</a></h2>
		<p>Everything I Know. Mostly. A personal wiki built with <a href="https://www.11ty.dev/">Eleventy</a>.</p>
	</div>

	<div class="project micromarks">
		<div class="project-image">
			<img src="/assets/img/micromarks.svg" alt="Micromarks Logo">
		</div>
		<h2><a href="http://micromarks.rknight.me">Micromarks</a></h2>
		<p>Manage your micro.blog bookmarks.</p>
	</div>

	<div class="project alfred">
		<div class="project-image">
			<img src="/assets/img/alfred.png" alt="Alfred Logo">
		</div>
		<h2><a href="/alfred-workflows">Alfred Workflows</a></h2>
		<p>Workflows I've built for <a href="https://www.alfredapp.com/">Alfred app</a>.</p>
	</div>

	{# <div class="project github">
		<div class="project-image">
			<img src="/assets/img/github.svg">
		</div>
		<h2><a href="http://github.com/rknightuk">Everything Else</a></h2>
		<p>It's all on GitHub.</p>
	</div> #}
</div>

<section class="box">
	<h2 class="heading-medium"><a href="/blog">Blog</a></h2>

	<ul class="no-bull">
		{%- for post in collections.firstThreePosts %}
		  <li>
		  	<span class="post-date">{{ post.data.date | isoDateOnly }}</span> <a href="{{ post.data.permalink | stripIndex }}">{{ post.data.title }}</a>

		  	<br>

		  	<span class="post-excerpt">{{ post.data.excerpt }}</span>
		  </li>
		{% endfor %}
	</ul>

	<h2 class="heading-medium"><a href="/blog">Micro.Blog</a></h2>
	<p><a href="https://micro.blog/rknightuk?remote_follow=1">@rknightuk</a></p>
	<div class="microblog-posts">
	{%- for post in micro.posts %}
		<div class="microblog-post">
			<p class="post-date"><a href="{{ post.url }}">{{ post.date }}</a></p>
			{% if post.title %}
				<p><a href="{{ post.url }}">{{ post.title }}</a></p>
			{% else %}
				{{ post.html | safe }}
			{% endif %}
		</div>
	{% endfor %}
	</div>
</section>

<section class="box">
	<h2 class="heading-medium">Social</h2>

	<ul class="no-bull">
		<li><a href="https://micro.blog/rknightuk?remote_follow=1">Micro.blog</a>: Mild takes and tiny blog posts</li>
		<li><code>robb@toot.rknight.me</code> on Mastodon</li>
		<li><a href="https://github.com/rknightuk">GitHub</a>: All my open source projects</li>
		<li>Nintendo Switch: SW-5633-0258-5413</li>
		<li>PSN, Twitch, & probably more things: .../rknightuk</li>
	</ul>
</section>