---
layout: base
title: Boosted Links
permalink: micro/boosts
---

<p>
    <a href="/micro">All posts</a>
</p>

{%- for boost in microboosts %}
    {%- for link in boost.links %}
        <p><a href="{{ link }}">{% if loop.index > 1 %}{{ link | trim(100) }}{% else %}{{ boost.title }}{% endif %}</a> via @<a href="{{ boost.boostUrl }}">{{ boost.username}}</a></p>
    {% endfor %}
{% endfor %}
