---
permalink: now.md
eleventyExcludeFromCollections: true
---

{profile-picture}

# Robb Knight

[Back to my omg.lol page!](https://{address}.omg.lol)

<small>This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, you should make one, too. (<a href="https://rknight.me/now">Mirrored from my website</a>)</small>

{last-updated}

--- Now ---

<script src="https://status.lol/robb.js?time&link&fluent&pretty"></script>

### Currently

{{ now.now.about.md }}

### Making

{{ now.now.making.md }}

### Watching

{{ now.now.tv.md }}

### Playing

{{ now.now.playing.md }}

### Listening: Podcasts

{{ now.now.podcasts.md }}

#### Listening: Music last 7 days

{{ now.music.md }}

### [Reading](https://toot.rknight.me/reading/)

{{ now.reading.md }}
