---
title: /now
permalink: 'now/index.html'
layout: base
templateEngineOverride: njk,md
css: now
---

<small>This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, you should make one, too.</small>

### {{ now.status.emoji }} Status

<div class="statuslol" style="">
    <div class="statuslol_content">
        <p>{{ now.status.content }}</p>
        <div class="statuslol_time">
            <a href="https://robb.status.lol/{{ now.status.id }}">{{ now.status.relative_time }}</a>
        </div>
    </div>
</div>

### Currently

<ul>
{{ now.now.about | safe }}
</ul>

### 🛠️ Making

<ul>
{{ now.now.making | safe }}
</ul>

### 📺 Watching

<ul>
{{ now.now.tv | safe }}
</ul>

### 🎮 Playing

<ul>
{{ now.now.playing | safe }}
</ul>

### 🎧 Listening To

#### 🎙️ Podcasts

<ul>
{{ now.now.podcasts | safe }}
</ul>

#### 🎸 Music

<div class="now_albums">
{%- for album in now.music %}
<div class="now_album">
    <a href="{{ album.link }}" target="_blank" rel="noopener"><img src="{% if album.art %}{{ album.art }}{% else %}/assets/img/no-artwork.png{% endif %}" alt="{{ album.title }} by {{ album.artist }}"></a>
    {% if album.art %}{% else %}<div class="now_album_text"><div class="now_album_text_container">{{ album.title }} by {{ album.artist }}</div></div>{% endif %}
</div>
{% endfor %}
</div>

### 📚 [Reading](https://toot.rknight.me/reading/)

<ul>
{%- for read in now.reading %}
<li><a href="{{ read.url }}">{{ read.title }}</a> by {{ read.authors[0].name }}</li>
{% endfor %}
</ul>
