---
title: /now
permalink: 'now/index.html'
layout: base
templateEngineOverride: njk,html,md
---

<p>This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, you should make one, too. (<a href="https://robb.omg.lol/now">Mirrored on omg.lol</a>)</p>

### {{ status.emoji }} Status

<div class="statuslol" style="">
    <div class="statuslol_content">
    <p>{{ status.content | mdToHtml | safe }}</p>
        <div class="statuslol_time">
            <a href="https://robb.status.lol/{{ status.id }}">{{ status.created | toDateTimeFromUnix }}</a>
        </div>
    </div>
</div>

<style>
    {{ now.nowStyles }}
</style>

{{ now.content | safe }}
