---
pagination:
  data: micro.images
  size: 50
  alias: post
permalink: 'photos/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
layout: base
eleventyComputed:
    title: Photos
---

<div class="pagination">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Images</a>{% else %}Newer Images{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Images</a>{% else %}Older Images{% endif %}</div>
</div>

<style>
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(5, calc(20% - 0.75em));
        grid-gap: 1em;
    }

    .photo-grid a {
        border-bottom: none;
    }

    .photo-grid img {
        object-fit: cover;
        aspect-ratio: 1/1;
    }
    .
</style>
<div class="photo-grid">
    {%- for post in pagination.items %}
        <a href="{{ micro.postMap[post.postId].path | postPath }}">
            <img src="{{ post.url }}" alt="{{ post.description }}">
        </a>
    {% endfor%}
</div>

<div class="pagination">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Images</a>{% else %}Newer Images{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Images</a>{% else %}Older Images{% endif %}</div>
</div>
