<header id="header">
  <a href="<%- url_for("/") %>">
    <div id="title">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fa fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %> 
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
      <% } %>
    </ul>
  </div>
</header>
