---
title: Podcasts
subtitle: "<a href='/podcasts/roll'>View Podroll</a> • <a href='/podcasts/history'>Listening History</a>"
layout: base
permalink: 'podcasts/index.html'
eleventyNavigation:
  key: Podcasts
  parent: Home
---

I currently have two podcasts: <a href='https://ruminatepodcast.com'>Ruminate</a> and <a href='https://wegot.family'>We Got Family</a>. This is a combined feed of both shows.

{% set imagePrefix = '/assets/projects/' %}

<div class="cards" style="grid-template-columns: repeat(2,1fr);margin-top: 20px;">
{%- for project in site.projects.podcasts %}<a href="{{ project.link }}"><img style="border-radius: 10px;" src="{{ imagePrefix }}{{ project.image }}"></a>{% endfor%}
</div>

{% set datePrinted = false %}
{% set currentYear = 1000 %}

{%- for pod in mypodcasts.all %}
    {% set podYear = pod.year %}

    {% if podYear != currentYear %}
        <h3>{{ podYear }}</h3>
    {% endif %}

    <div>
        <p class="post-title"><a href="{{ pod.link }}">{{ pod.show.title }} {{ pod.title | safe }}</a></p>
        <em class="post-excerpt">{{ pod.desc }}</em><br>
        <p style="margin-top: 0;font-size:0.8em;">
            {{ pod.date }}
        </p>
    </div>

    {% set currentYear = podYear %}
{% endfor %}