---
title: Podroll
subtitle: "(noun) a list of hyperlinks to other podcasts • <a href='/blog/roll'>View Blogroll</a>"
layout: base
permalink: 'podcasts/roll/index.html'
wide: true
eleventyNavigation:
  key: Podroll
  parent: Podcasts
---

<p>You can subscribe to all of these great shows in one go by <a href="opml.xml" download="download">downloading the OPML file</a> and importing it into your podcast app of choice.</p>

<div class="blogroll blogroll--podcasts">
    {%- for pod in podroll -%}
        <div class="blogroll--blog" style="background-image: url('/assets/pod/{{ pod.cover }}')">
            <div class="blogroll--data">
                <h3>{{ pod.name }}</a></h3>
                <p class="blog--subtitle"><a href="{{ pod.url }}">Website</a> • <a href="{{ pod.feed }}">RSS</a></p>
                <p>{{ pod.description }}</p>
            </div>
        </div>
    {%- endfor -%}
</div>